# 세팅

In [ ]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
import glob
import pickle
%cd /content/drive/MyDrive/modeling/crawling_naver/

# 합치기

## csv 모두 합치기

이거 진행할 때에 /modeling/crawling_naver/publicdata_cafe_fornaver.csv 이거는 다른 곳으로 이동시키고 합쳐야 함!!!

In [ ]:
csv_list = sorted(glob.glob('*.csv'))
csv_list

['naver0-600.csv',
 'naver10000-10500.csv',
 'naver10500-13537.csv',
 'naver1200-2000.csv',
 'naver13538-14000.csv',
 'naver14000-14300.csv',
 'naver14300-14800.csv',
 'naver14800-15300.csv',
 'naver15300-15500.csv',
 'naver15500-16000.csv',
 'naver16000-16500.csv',
 'naver16500-17000.csv',
 'naver17000-17500.csv',
 'naver17500-18000.csv',
 'naver18000-18500.csv',
 'naver18500-18800.csv',
 'naver18800-19100.csv',
 'naver19100-.csv',
 'naver2000-2750.csv',
 'naver2750-3500.csv',
 'naver3500-4000.csv',
 'naver4000-4500.csv',
 'naver4500-5000.csv',
 'naver5000-5500.csv',
 'naver5500-6000.csv',
 'naver600-1200.csv',
 'naver6000-6500.csv',
 'naver6500-7000.csv',
 'naver7000-7400.csv',
 'naver7400-7500.csv',
 'naver7500-7900.csv',
 'naver7900-8000.csv',
 'naver8000-8500.csv',
 'naver8500-9000.csv',
 'naver9000-9500.csv',
 'naver9500-10000.csv']

In [ ]:
csv_list = sorted(glob.glob('*.csv'))
df = pd.DataFrame(columns = ['cafe', 'search_name', 'address','road_address','near_station','station_distance','total_review',
                  '"커피가 맛있어요"','"친절해요"','"음료가 맛있어요"', '"디저트가 맛있어요"',
                  '"매장이 청결해요"', '"대화하기 좋아요"', '"집중하기 좋아요"','"인테리어가 멋져요"',
                  '"좌석이 편해요"','"화장실이 깨끗해요"','"특별한 메뉴가 있어요"','"가성비가 좋아요"',
                  '"뷰가 좋아요"', '"주차하기 편해요"', '"사진이 잘 나와요"'])
for csv in csv_list:
  new = pd.read_csv(csv)
  df = pd.concat([df, new], ignore_index= True)
  print(len(new), '개의 행 생성! 총', len(df), '개의 행이 존재합니다.')

212 개의 행 생성! 총 212 개의 행이 존재합니다.
183 개의 행 생성! 총 395 개의 행이 존재합니다.
1184 개의 행 생성! 총 1579 개의 행이 존재합니다.
371 개의 행 생성! 총 1950 개의 행이 존재합니다.
118 개의 행 생성! 총 2068 개의 행이 존재합니다.
110 개의 행 생성! 총 2178 개의 행이 존재합니다.
223 개의 행 생성! 총 2401 개의 행이 존재합니다.
244 개의 행 생성! 총 2645 개의 행이 존재합니다.
113 개의 행 생성! 총 2758 개의 행이 존재합니다.
266 개의 행 생성! 총 3024 개의 행이 존재합니다.
260 개의 행 생성! 총 3284 개의 행이 존재합니다.
235 개의 행 생성! 총 3519 개의 행이 존재합니다.
267 개의 행 생성! 총 3786 개의 행이 존재합니다.
294 개의 행 생성! 총 4080 개의 행이 존재합니다.
291 개의 행 생성! 총 4371 개의 행이 존재합니다.
178 개의 행 생성! 총 4549 개의 행이 존재합니다.
182 개의 행 생성! 총 4731 개의 행이 존재합니다.
328 개의 행 생성! 총 5059 개의 행이 존재합니다.
371 개의 행 생성! 총 5430 개의 행이 존재합니다.
307 개의 행 생성! 총 5737 개의 행이 존재합니다.
184 개의 행 생성! 총 5921 개의 행이 존재합니다.
206 개의 행 생성! 총 6127 개의 행이 존재합니다.
206 개의 행 생성! 총 6333 개의 행이 존재합니다.
199 개의 행 생성! 총 6532 개의 행이 존재합니다.
226 개의 행 생성! 총 6758 개의 행이 존재합니다.
255 개의 행 생성! 총 7013 개의 행이 존재합니다.
210 개의 행 생성! 총 7223 개의 행이 존재합니다.
183 개의 행 생성! 총 7406 개의 행이 존재합니다.
156 개의 행 생성! 총 7562 개의 행이 존재합니다.
51 개의 행 생성! 총 7613 개의 행이 존재합니다.
158 개의 행 생성! 총 7771 개의 행이 존재합니다.
32 개의 행 생성! 총 7803 개의 행이 존재합니다.
142 개의 행 생성! 총 7945 개의 행이 존재합니다.
183 개의 행 생성! 총 8128 개의 행이 존재합니다.
175 개의 행 생성! 총 8303 개의 행이 존재합니다.
193 개의 행 생성! 총 8496 개의 행이 존재합니다.

In [ ]:
df.head()

,cafe,search_name,address,road_address,near_station,station_distance,total_review,"""커피가 맛있어요""","""친절해요""","""음료가 맛있어요""",...,"""대화하기 좋아요""","""집중하기 좋아요""","""인테리어가 멋져요""","""좌석이 편해요""","""화장실이 깨끗해요""","""특별한 메뉴가 있어요""","""가성비가 좋아요""","""뷰가 좋아요""","""주차하기 편해요""","""사진이 잘 나와요"""
0,버블베어,버블베어,방화동,서울 강서구 금낭화로 167 방화8단지개화아파트,5방화역,427m,18,7.0,5,5.0,...,NaN,NaN,NaN,1.0,2.0,2.0,NaN,NaN,1.0,NaN
1,커피빈코리아낙성대역점 코리아낙성대역점,커피빈 낙성대역점,봉천동,"서울 관악구 남부순환로 1909 1,2층",2낙성대역,119m,284,7.0,56,74.0,...,21.0,48.0,8.0,33.0,2.0,2.0,8.0,14.0,NaN,1.0
2,노란고무줄,노란꼬무줄 선릉본점,대치동,서울 강남구 선릉로 424 1층5호 노란꼬무줄,2수인분당선릉역,157m,134,40.0,14,61.0,...,NaN,NaN,1.0,NaN,NaN,21.0,33.0,NaN,1.0,NaN
3,커피랩,커피랩,서교동,서울 마포구 와우산로29길 14,2공항경의중앙홍대입구역,324m,100,76.0,23,13.0,...,17.0,10.0,19.0,2.0,6.0,10.0,4.0,5.0,NaN,4.0
4,커핀그루나루신천점 신천점,커핀그루나루 신천점,잠실동,서울 송파구 올림픽로12길 8,2잠실새내역,228m,140,64.0,14,31.0,...,29.0,7.0,2.0,15.0,5.0,5.0,6.0,3.0,NaN,1.0

In [ ]:
# 지금 변수명들이 직관적이지 않아서 약간 수정을 해보려고 합니다.
df.rename(columns={'cafe':'name'},inplace=True)

In [ ]:
df.to_csv('naver_crawled_total.csv',index=False)

# csv 전처리

## 카페가 아닌 경우 제거하기

In [ ]:
%cd /content/drive/MyDrive/modeling/crawling_naver/
df = pd.read_csv('naver_crawled_total.csv')
df.info()

/content/drive/.shortcut-targets-by-id/1wuSyaB4gVB_OYC11vUBFSUjLBBeITS80/modeling/crawling_naver
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8496 entries, 0 to 8495
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              8496 non-null   object
 1   search_name       8496 non-null   object
 2   address           8496 non-null   object
 3   road_address      7619 non-null   object
 4   near_station      7619 non-null   object
 5   station_distance  7619 non-null   object
 6   total_review      8496 non-null   int64
 7   "커피가 맛있어요"        7798 non-null   float64
 8   "친절해요"            8468 non-null   float64
 9   "음료가 맛있어요"        8024 non-null   float64
 10  "디저트가 맛있어요"       7707 non-null   float64
 11  "매장이 청결해요"        8187 non-null   float64
 12  "대화하기 좋아요"        7418 non-null   float64
 13  "집중하기 좋아요"        6244 non-null   float64
 14  "인테리어가 멋져요"       7659 non-null   float64
 15  "좌석이 편해요"         6276 non-null   float64
 16  "화장실이 깨끗해요"       5455 non-null   float64
 17  "특별한 메뉴가 있어요"     7772 non-null   float64
 18  "가성비가 좋아요"        7979 non-null   float64
 19  "뷰가 좋아요"          5296 non-null   float64
 20  "주차하기 편해요"        4241 non-null   float64
 21  "사진이 잘 나와요"       6092 non-null   float64
 22  same              8496 non-null   bool
dtypes: bool(1), float64(15), int64(1), object(6)
memory usage: 1.4+ MB

### 키워드가 전부 NaN인 경우(아예 다른 분야)

In [ ]:
# 리뷰 칸은 총 10명이상이 참여해야 열림
# => 그런데 리뷰칸이 전부 NaN이라는 것은 그 매장이 카페가 아니라는 것을 의미함.
# 행 제거 필요

# 결과를 보니 전부 학원 책방이어서 제거해야함

df[(df['"커피가 맛있어요"'].isnull()) & (df['"친절해요"'].isnull()) & (df['"음료가 맛있어요"'].isnull()) &
   (df['"디저트가 맛있어요"'].isnull()) & (df['"매장이 청결해요"'].isnull()) & (df['"대화하기 좋아요"'].isnull()) & 
   (df['"집중하기 좋아요"'].isnull()) & (df['"인테리어가 멋져요"'].isnull()) & (df['"좌석이 편해요"'].isnull()) & 
   (df['"화장실이 깨끗해요"'].isnull()) & (df['"특별한 메뉴가 있어요"'].isnull()) & (df['"가성비가 좋아요"'].isnull()) & 
   (df['"뷰가 좋아요"'].isnull()) & (df['"주차하기 편해요"'].isnull()) & (df['"사진이 잘 나와요"'].isnull())]

,name,search_name,address,road_address,near_station,station_distance,total_review,"""커피가 맛있어요""","""친절해요""","""음료가 맛있어요""",...,"""집중하기 좋아요""","""인테리어가 멋져요""","""좌석이 편해요""","""화장실이 깨끗해요""","""특별한 메뉴가 있어요""","""가성비가 좋아요""","""뷰가 좋아요""","""주차하기 편해요""","""사진이 잘 나와요""",same
231,카페바리스타아카데미,카페바리스타아카데미,역삼동,서울 강남구 테헤란로10길 43,2신분당강남역,527m,16,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2476,이나영책방,이나영책방,신림동,서울 관악구 신사로 66-1 3층,2신대방역,360m,10,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2538,하우 신림역점,하우스터디독서실 신림난곡센터,신림동,NaN,NaN,NaN,21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3243,로허들커피교실,로허들 커피교실,신정동,서울 양천구 신정중앙로 63 207호,5신정역,335m,75,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
6531,이루리북스,이루리북스,도화동,서울 마포구 독막로 320 태영데시앙루브 B105호,56공항경의중앙공덕역,353m,23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
6708,진부책방스튜디오,진부책방스튜디오,서교동,서울 마포구 잔다리로 112 2층,6망원역,412m,35,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
6747,한평책빵,한평책빵,녹번동,서울 은평구 통일로 684 서울혁신파크 25동 101호 한평책빵,36불광역,123m,123,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
6985,카페다커피 역촌점,카페원커피학원,역촌동,서울 은평구 가좌로 249,6새절역,214m,19,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
7208,위트앤시니컬,시집서점 위트 앤 시니컬,혜화동,서울 종로구 창경궁로 271-1 동양서림 내 2층,4혜화역,257m,13,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
8038,지금의세상,지금의 세상,사당동,서울 동작구 동작대로3길 41 1층,24사당역,235m,22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
8121,잇츠리얼타임카페,잇츠리얼타임 독서실 스터디카페,노량진동,서울 동작구 노량진로 140 메가스터디타워 5층,19노량진역,79m,410,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
8338,공차 영풍문고종로점,영풍문고 종로본점,서린동,서울 종로구 청계천로 41,1종각역,15m,2814,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

In [ ]:
all_nan_index = df[(df['"커피가 맛있어요"'].isnull()) & (df['"친절해요"'].isnull()) & (df['"음료가 맛있어요"'].isnull()) &
   (df['"디저트가 맛있어요"'].isnull()) & (df['"매장이 청결해요"'].isnull()) & (df['"대화하기 좋아요"'].isnull()) & 
   (df['"집중하기 좋아요"'].isnull()) & (df['"인테리어가 멋져요"'].isnull()) & (df['"좌석이 편해요"'].isnull()) & 
   (df['"화장실이 깨끗해요"'].isnull()) & (df['"특별한 메뉴가 있어요"'].isnull()) & (df['"가성비가 좋아요"'].isnull()) & 
   (df['"뷰가 좋아요"'].isnull()) & (df['"주차하기 편해요"'].isnull()) & (df['"사진이 잘 나와요"'].isnull())].index

In [ ]:
# 제거 완료
df = df.drop(all_nan_index)

### 키워드를 하나씩 조건에서 제거해보면서 제거할 행 찾기

In [ ]:
# 근데 예외경우가 또 있을 수도 있다! => 방탈출 카페나 다른 곳에 대해서도 친절해요 주차하기 편해요가 있을 수도 있어서 그 경우는 또는 통해서 계속 소거해 나가야 겠다.

# 먼저 친절해요는 조건에서 제해볼까?

# 이경우 꽃집(붉은산다화, 애쉴리즈, 아르넬), 방탈출카페(비트포비아, ), 
# 공방(반지카페), 장난감(덕카페, 루나블랑,). 헬스장(안녕 휘트니스) 이 나옴
# 전부 제거해도 됨

df[(df['"커피가 맛있어요"'].isnull()) & (df['"음료가 맛있어요"'].isnull()) &
   (df['"디저트가 맛있어요"'].isnull()) & (df['"매장이 청결해요"'].isnull()) & (df['"대화하기 좋아요"'].isnull()) & 
   (df['"집중하기 좋아요"'].isnull()) & (df['"인테리어가 멋져요"'].isnull()) & (df['"좌석이 편해요"'].isnull()) & 
   (df['"화장실이 깨끗해요"'].isnull()) & (df['"특별한 메뉴가 있어요"'].isnull()) & (df['"가성비가 좋아요"'].isnull()) & 
   (df['"뷰가 좋아요"'].isnull()) & (df['"주차하기 편해요"'].isnull()) & (df['"사진이 잘 나와요"'].isnull())]

,name,search_name,address,road_address,near_station,station_distance,total_review,"""커피가 맛있어요""","""친절해요""","""음료가 맛있어요""",...,"""집중하기 좋아요""","""인테리어가 멋져요""","""좌석이 편해요""","""화장실이 깨끗해요""","""특별한 메뉴가 있어요""","""가성비가 좋아요""","""뷰가 좋아요""","""주차하기 편해요""","""사진이 잘 나와요""",same
118,붉은산다화,붉은산다화,성내동,서울 강동구 성내로3가길 7 1층,8강동구청역,176m,26,NaN,20.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
394,애쉴리즈,애쉴리즈,청담동,서울 강남구 학동로77길 5 청담그랑빌102 애쉴리즈,7청담역,123m,15,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
676,비트포비아 강남점,비트포비아 강남던전,역삼동,서울 강남구 강남대로84길 33 대우디오빌플러스 지하1층 111호,2신분당강남역,259m,21,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
899,반지카페8그램,반지만들기 반지공방 8그램,역삼동,서울 강남구 봉은사로2길 37 혜인빌딩 5층,9신분당신논현역,208m,167,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
952,덕카페,덕카페,상월곡동,서울 성북구 화랑로25길 19 2층,6상월곡역,316m,11,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1675,아르넬ARENEL,아르넬,신사동,서울 강남구 압구정로4길 14-10 1층,3신분당신사역,611m,13,NaN,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1802,루나블랑,루나블랑,신당동,서울 중구 동호로17길 277 2층,6버티고개역,189m,23,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1902,비트포비아 던전홍대점,비트포비아 홍대던전,서교동,서울 마포구 독막로3길 30 지하2층,26합정역,296m,14,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1935,키이스케이프 홍대점,키이스케이프 홍대점,서교동,서울 마포구 어울마당로 44-1 보리수빌딩 지하1층,6상수역,314m,37,NaN,17.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2149,샤론화원,샤론화원,신정동,서울 양천구 목동동로8길 29 한양프라자 1층 Sharon Flower,2양천구청역,803m,27,NaN,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2356,넥스트에디션 잠실점,방탈출카페 넥스트에디션 잠실점,잠실동,서울 송파구 올림픽로 118 지하1층,2잠실새내역,81m,22,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2485,조르막,조르막,반포동,서울 서초구 반포대로39길 42 1층,379고속터미널역,675m,27,NaN,10.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2605,아일랑트,아일랑트 캔들&카페 홍대본점,서교동,서울 마포구 와우산로21길 19-19 1층,6상수역,480m,35,NaN,24.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3154,티케이프,티케이프,창천동,서울 서대문구 연세로12길 8 1층 2층,2신촌역,383m,13,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
5071,비올즈플라워카페 비올즈플라워,비올즈플라워카페2호점,봉천동,서울 관악구 남부순환로 1870 비올즈플라워카페 1층,2서울대입구역,414m,46,NaN,25.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5379,도어이스케이프 레드신논현점,도어이스케이프 레드 신논현점,서초동,서울 서초구 사평대로 360 지하1층,9신분당신논현역,135m,11,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5838,샌프란시스코커피,샌프란시스코플라워,신당동,서울 중구 다산로42길 43-4,26신당역,140m,50,NaN,26.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
6342,개미지옥,개미지옥,논현동,서울 강남구 논현로149길 71 104호,3신분당신사역,231m,13,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
7180,라플레르수,라플레르수,부암동,NaN,NaN,NaN,19,NaN,13.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
7843,마인드리움,마인드리움,마곡동,서울 강서구 공항대로51길 17-7 1층 102호 마인드리움,9증미역,586m,69,NaN,49.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
7991,"안녕,도화동.",안녕휘트니스 마포점,도화동,서울 마포구 마포대로 49 지하 1층,5마포역,118m,27,NaN,25.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
8191,태무든TAEMOODEN,태무든,홍은동,서울 서대문구 세검정로1길 105 1층,3홍제역,895m,43,NaN,24.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

In [ ]:
except_kind = df[(df['"커피가 맛있어요"'].isnull()) & (df['"음료가 맛있어요"'].isnull()) &
   (df['"디저트가 맛있어요"'].isnull()) & (df['"매장이 청결해요"'].isnull()) & (df['"대화하기 좋아요"'].isnull()) & 
   (df['"집중하기 좋아요"'].isnull()) & (df['"인테리어가 멋져요"'].isnull()) & (df['"좌석이 편해요"'].isnull()) & 
   (df['"화장실이 깨끗해요"'].isnull()) & (df['"특별한 메뉴가 있어요"'].isnull()) & (df['"가성비가 좋아요"'].isnull()) & 
   (df['"뷰가 좋아요"'].isnull()) & (df['"주차하기 편해요"'].isnull()) & (df['"사진이 잘 나와요"'].isnull())].index

In [ ]:
df = df.drop(except_kind)

In [ ]:
# 이번엔 주차하기 편해요랑 친절해요를 제거해보자

df[(df['"커피가 맛있어요"'].isnull()) & (df['"음료가 맛있어요"'].isnull()) &
   (df['"디저트가 맛있어요"'].isnull()) & (df['"매장이 청결해요"'].isnull()) & (df['"대화하기 좋아요"'].isnull()) & 
   (df['"집중하기 좋아요"'].isnull()) & (df['"인테리어가 멋져요"'].isnull()) & (df['"좌석이 편해요"'].isnull()) & 
   (df['"화장실이 깨끗해요"'].isnull()) & (df['"특별한 메뉴가 있어요"'].isnull()) & (df['"가성비가 좋아요"'].isnull()) & 
   (df['"뷰가 좋아요"'].isnull()) & (df['"사진이 잘 나와요"'].isnull())]

# 꽃집인데 이름이 커피, 한송이네 => 제거
# 공방 : 쓰임
# 꽃집 : 꽃카페JE, 오뉴월, 쉔, 오이나플라워앤커피바, 블루미시티, 르자당도산점, 소올소올, 어반그로브, 보나르떼, 블루밍테라스
# 학원: 프롱
# 사진, 스튜디오: 사진찍는카페찰리
# 방탈출: 던전 101

# 리퍼블릭은 제대로 못 불러옴 (카페 맞음)

,name,search_name,address,road_address,near_station,station_distance,total_review,"""커피가 맛있어요""","""친절해요""","""음료가 맛있어요""",...,"""집중하기 좋아요""","""인테리어가 멋져요""","""좌석이 편해요""","""화장실이 깨끗해요""","""특별한 메뉴가 있어요""","""가성비가 좋아요""","""뷰가 좋아요""","""주차하기 편해요""","""사진이 잘 나와요""",same
78,"커피,한송이",커피 한송이,등촌동,서울 강서구 공항대로45길 44 청림오피스텔,9가양역,541m,52,NaN,24.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,False
89,쓰임,쓰임,방학동,서울 도봉구 도봉로143길 32 leather work-shop 쓰임,1방학역,806m,20,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,True
442,꽃카페JE,쥬브,잠원동,경기 안양시 동안구 시민대로 230 아크로타워 c동 223호,4범계역,488m,28,NaN,18.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,False
1531,오뉴월,플라워카페 오뉴월,마곡동,서울 강서구 마곡중앙로 59-17 류마타워2 1층 116호,5마곡역,120m,31,NaN,23.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,False
2285,사진찍는카페찰리,찰리카페사진관,반포동,서울 서초구 동광로49길 88,379고속터미널역,861m,95,NaN,76.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,False
2352,던전101,비트포비아 던전101,서교동,서울 마포구 와우산로 74 2층,6상수역,356m,33,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,False
3466,쉔,쉔플라워,천호동,서울 강동구 천중로 179 1층,5길동역,456m,55,NaN,34.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,False
3553,오이나플라워앤커피바,오이나 플라워 앤 커피바,가락동,서울 송파구 송이로26길 16-60 1층 101호,3경찰병원역,320m,115,NaN,91.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,False
5343,블루미시티,블루미시티,논현동,서울 강남구 논현로157길 28,3압구정역,597m,81,NaN,57.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,True
5476,프롱,프롱센트럴바리스타제과제빵학원,흥인동,서울 중구 마장로 66 2층,26신당역,188m,14,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,False
6028,메리플레르,메리플레르,상계동,서울 노원구 동일로 1661 1층,7수락산역,23m,30,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,True
6257,리퍼블릭,리퍼블릭,신사동,NaN,NaN,NaN,116,NaN,45.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,True
6382,르자당 도산점,르자당 도산점,신사동,서울 강남구 도산대로45길 10-3 3층,수인분당압구정로데오역,673m,55,NaN,31.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,True
6508,소올소올,소올소올플라워,고척동,NaN,NaN,NaN,27,NaN,21.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,False
7134,어반그로브,어반그로브,공평동,서울 종로구 우정국로 26 센트로폴리스빌딩 지하2층,1종각역,69m,17,NaN,13.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,True
7136,보나르떼,보나르떼,신사동,서울 강남구 논현로161길 41 1층,3압구정역,562m,31,NaN,20.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,True
7235,블루밍테라스,블루밍테라스,하왕십리동,서울 성동구 왕십리로 374 센트라스 130동 지하1층,2상왕십리역,41m,115,NaN,65.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,True
7584,무토스아트그라운드,무토스 아트그라운드,석촌동,서울 송파구 송파대로37길 84 3층 아트그라운드,9석촌고분역,863m,95,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,False
7765,스노우폭스플라워스,스노우폭스플라워 선릉역점,삼성동,서울 강남구 테헤란로 403 1층,2수인분당선릉역,15m,132,NaN,38.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,False
8181,월계골프연습장,스파크월계골프연습장,월계동,서울 노원구 초안산로2길 81-38 스파크월계골프연습장,1월계역,388m,300,NaN,33.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,False
8262,블루블루엣,블루블루엣,여의도동,서울 영등포구 여의대로 56 한화손해보험빌딩 지하1층 블루블루엣,59여의도역,266m,22,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,True
8401,반지캠퍼스카페,반지캠퍼스카페,서교동,서울 마포구 어울마당로 112-6,2공항경의중앙홍대입구역,191m,763,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,True

In [ ]:
except_k_p = df[(df['"커피가 맛있어요"'].isnull()) & (df['"음료가 맛있어요"'].isnull()) &
   (df['"디저트가 맛있어요"'].isnull()) & (df['"매장이 청결해요"'].isnull()) & (df['"대화하기 좋아요"'].isnull()) & 
   (df['"집중하기 좋아요"'].isnull()) & (df['"인테리어가 멋져요"'].isnull()) & (df['"좌석이 편해요"'].isnull()) & 
   (df['"화장실이 깨끗해요"'].isnull()) & (df['"특별한 메뉴가 있어요"'].isnull()) & (df['"가성비가 좋아요"'].isnull()) & 
   (df['"뷰가 좋아요"'].isnull()) & (df['"사진이 잘 나와요"'].isnull())].index

df.drop(index=except_k_p, inplace=True)

In [ ]:
# 음료와 디저트 관련된 키워드 모든게 다 nan값이면 카페가 아닐수도 있다고 봐보자

# 보드게임카페: 하이힐, 더조커
# 머리염색: 더오색
# 음식점: 평통보쌈, 텃골(김밥), 동심
# 만화카페: 벌툰, 알타미라
# 편의점: 이마트24
# 스튜디오: 영상다방황금단추
# 방탈출: 비트포비아, 비밀의 화원, 마스터키, 포인트나인, 비밀의숲, 세븐클루스, 시크릿코드
# 인테리어 소품: 레이지 선데이
# 주류: 비틀비틀
# 메이크업: 
# 잘못 가져온 경우도 많이 걸러짐
df[(df['"커피가 맛있어요"'].isnull()) & (df['"음료가 맛있어요"'].isnull()) &
   (df['"디저트가 맛있어요"'].isnull()) & (df['"대화하기 좋아요"'].isnull()) & 
   (df['"집중하기 좋아요"'].isnull()) & (df['"좌석이 편해요"'].isnull()) & 
   (df['"특별한 메뉴가 있어요"'].isnull()) & 
   (df['"뷰가 좋아요"'].isnull()) & (df['"사진이 잘 나와요"'].isnull())][0:60]

,name,search_name,address,road_address,near_station,station_distance,total_review,"""커피가 맛있어요""","""친절해요""","""음료가 맛있어요""",...,"""집중하기 좋아요""","""인테리어가 멋져요""","""좌석이 편해요""","""화장실이 깨끗해요""","""특별한 메뉴가 있어요""","""가성비가 좋아요""","""뷰가 좋아요""","""주차하기 편해요""","""사진이 잘 나와요""",same
82,통툰만화까페,통툰만화까페 발산역점,내발산동,서울 강서구 강서로52길 16,5발산역,97m,39,NaN,10.0,NaN,...,NaN,NaN,NaN,2.0,NaN,8.0,NaN,1.0,NaN,False
105,놀숲 건대점,놀숲 건대점,자양동,서울 광진구 아차산로 224 3층 놀숲건대점,27건대입구역,19m,185,NaN,37.0,NaN,...,NaN,NaN,NaN,19.0,NaN,34.0,NaN,1.0,NaN,True
107,놀숲 플러스홍대점,놀숲플러스 홍대점,서교동,서울 마포구 양화로16길 29 B1,2공항경의중앙홍대입구역,427m,191,NaN,43.0,NaN,...,NaN,NaN,NaN,27.0,NaN,37.0,NaN,NaN,NaN,False
233,덤스 본점,범스불고기 대구혁신본점,등촌동,NaN,NaN,NaN,22,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,False
257,카툰공감성신여대점 성신여대점,카툰공감 성신여대점,동선동1가,서울 성북구 동소문로20가길 4 지하1층,4우이신설성신여대입구역,43m,18,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,False
356,하이힐,하이힐,이태원동,서울 용산구 보광로59길 36,6이태원역,243m,28,NaN,14.0,NaN,...,NaN,NaN,NaN,3.0,NaN,11.0,NaN,1.0,NaN,True
359,더오색,더오색,논현동,서울 강남구 봉은사로29길 21 강남성우빌딩,9언주역,149m,131,NaN,88.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
443,개성평통보쌈,평통보쌈 공단점,금호동4가,NaN,NaN,NaN,16,NaN,3.0,NaN,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,False
589,텃골,텃골,연희동,NaN,NaN,NaN,18,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,True
596,벌툰 신촌점,벌툰 신촌점,창천동,서울 서대문구 연세로5가길 8-3,2신촌역,273m,163,NaN,27.0,NaN,...,NaN,NaN,NaN,17.0,NaN,30.0,NaN,1.0,NaN,True
669,이마트24 R가산하이엔드점,이마트24 R가산하이엔드점,가산동,서울 금천구 벚꽃로24길 26 119-120호,1독산역,980m,286,NaN,73.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,True
694,영상다방황금단추,영상다방 황금단추,합정동,서울 마포구 독막로3길 8 재성빌딩 3층,26합정역,263m,24,NaN,NaN,NaN,...,NaN,12.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,False
767,이마트 24종로당주점,이마트24 종로당주점,당주동,서울 종로구 새문안로5길 11 1층,5광화문역,76m,98,NaN,34.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
778,포비아명동,비트포비아 명동,명동2가,서울 중구 명동10길 13 4층,4명동역,264m,10,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,False
892,레이지선데이,레이지선데이,성수동1가,서울 성동구 서울숲길 36 상가동 104호,2뚝섬역,461m,13,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,True
895,알타미라,딩굴딩굴 알타미라,서교동,서울 마포구 와우산로29길 21,2공항경의중앙홍대입구역,336m,54,NaN,31.0,NaN,...,NaN,NaN,NaN,6.0,NaN,26.0,NaN,NaN,NaN,False
1024,놀숲 신정네거리역점,놀숲 신정네거리역점,신정동,서울 양천구 중앙로 265,2신정네거리역,85m,19,NaN,4.0,NaN,...,NaN,NaN,NaN,1.0,NaN,4.0,NaN,NaN,NaN,True
1149,비밀의화원리버타운,비밀의화원 리버타운,역삼동,서울 강남구 강남대로96길 20 지하 1층,2신분당강남역,232m,284,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,False
1153,마스터키 홍대상수점,마스터키 홍대상수점,상수동,서울 마포구 독막로 65-1 지하1층,6상수역,171m,11,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,True
1154,포인트나인,포인트나인,역삼동,서울 강남구 강남대로102길 40 지하1층,9신분당신논현역,331m,24,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,True
1171,비밀의숲,비밀의 숲,서교동,서울 마포구 잔다리로6길 30,26합정역,545m,125,NaN,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,15.0,NaN,1.0,NaN,False
1199,엑스케이프 홍대점,엑스케이프 홍대점,서교동,서울 마포구 홍익로3길 44 7F 엑스케이프 홍대점,2공항경의중앙홍대입구역,483m,231,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,NaN,2.0,NaN,True
1210,세븐클루스 강남2호점,세븐클루스 강남 2호점,역삼동,서울 강남구 강남대로 432 점프밀라노 7층 704호 세븐클루스,9신분당신논현역,259m,48,NaN,20.0,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,6.0,NaN,False
1229,시크릿코드 홍대점,시크릿코드 홍대직영점,서교동,서울 마포구 어울마당로 144,2공항경의중앙홍대입구역,172m,35,NaN,15.0,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,False
1303,셜록홈즈 강남2호점,셜록홈즈 강남2호점,서초동,서울 서초구 서초대로77길 43 4층,9신분당신논현역,244m,19,NaN,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,NaN,1.0,NaN,True
1371,엑스케이프 건대점,엑스케이프 건대점,화양동,서울 광진구 동일로 112,27건대입구역,461m,43,NaN,20.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0,NaN,True
1378,더조커,보드게임카페 더조커 홍대점,서교동,서울 마포구 잔다리로2길 19 2층 보드게임카페 더조커 홍대점,26합정역,568m,124,NaN,58.0,NaN,...,NaN,NaN,NaN,13.0,NaN,46.0,NaN,1.0,NaN,False
1456,위드미 메리어트점,이마트24 메리어트점,반포동,서울 서초구 사평대로 205 BP4-10,379고속터미널역,290m,276,NaN,89.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,False
1596,리틀비틀 아현점,비틀비틀,아현동,서울 중구 만리재로 205-1 1층,14공항경의중앙서울역,427m,61,NaN,25.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1606,놀숲 마곡발산점,놀숲 마곡발산점,마곡동,서울 강서구 마곡중앙6로 93 열린프라자 8층 806호,5발산역,141m,46,NaN,17.0,NaN,...,NaN,NaN,NaN,4.0,NaN,7.0,NaN,2.0,NaN,True
1610,코드이스케이프 가로수길,코드이스케이프 가로수길,신사동,서울 강남구 도산대로13길 14 다모빌딩 5층,3신분당신사역,391m,14,NaN,11.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,True
1625,엘크레,엘크레,신사동,서울 강남구 도산대로15길 41 1층 엘크레,3신분당신사역,649m,409,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1698,여왕의브런치,여왕의브런치,역삼동,NaN,NaN,NaN,12,NaN,1.0,NaN,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,True
1856,셜록홈즈 잠실2호점,셜록홈즈 잠실2호점,잠실동,서울 송파구 백제고분로7길 31 4층,2잠실새내역,274m,15,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,True
1889,제로월드 강남점,제로월드 강남점,서초동,서울 서초구 서초대로73길 40 지하1층,9신분당신논현역,317m,93,NaN,17.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,True
1901,비밀의화원 홍대점,비밀의화원 미드나잇,서교동,서울 마포구 독막로7길 27 3층,6상수역,535m,323,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,False
1903,카페단색,반색식당,합정동,서울 강남구 선릉로6길 19,수인분당구룡역,713m,17,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,False
1932,엑스이스케이프 홍대놀이터점,엑스이스케이프 홍대놀이터점,서교동,서울 마포구 와우산로21길 20-5 홍대프라자 3층,2공항경의중앙홍대입구역,495m,1270,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,18.0,NaN,True
2030,홍베이팡 잠실나루역점,홍베이팡 잠실나루역점,신천동,서울 송파구 올림픽로37길 130 잠실파크리오a상가,2잠실나루역,49m,14,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,1.0,NaN,True
2126,동심,한정식 동심,남산동2가,NaN,NaN,NaN,31,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,False
2254,포퀸스보드카페 등촌점,포퀸스보드카페 등촌점,등촌동,서울 강서구 공항대로59가길 10 한울에이치벨리움 B-1 포퀸스 보드카페 등촌점,9등촌역,124m,12,NaN,5.0,NaN,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,True
2294,마스터키 강남점,마스터키프라임 강남점,역삼동,서울 강남구 강남대로98길 11 메트로빌딩 B2층,2신분당강남역,286m,354,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,44.0,NaN,2.0,NaN,False
2296,세븐클루스 강남1호점,세븐클루스 강남1호점,역삼동,서울 강남구 테헤란로2길 8 동일빌딩 지하1층,2신분당강남역,50m,36,NaN,13.0,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,True
2382,마스터키프라임 건대점,마스터키 프라임 건대점,자양동,서울 광진구 동일로20길 72 B1F,27건대입구역,108m,31,NaN,10.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,False
2455,담다,담다,마곡동,서울 강서구 마곡중앙로 59-11 107호 담다,5마곡역,97m,74,NaN,18.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,True
2534,유노이아,유노이아,양평동2가,NaN,NaN,NaN,15,NaN,12.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2588,주아킹위례 중앙점,주아킹 위례중앙점,장지동,NaN,NaN,NaN,67,NaN,25.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,False
2775,GS25 마곡9단지점,GS25 마곡9단지점,마곡동,"서울 강서구 공항대로 103 판매시설2동 102,103호",5마곡역,498m,250,NaN,75.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,True
2837,과일연구소당도,과일연구소 당도,풍납동,서울 송파구 강동대로9길 13-1,8강동구청역,597m,51,NaN,38.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3036,카페 애자일,크라임씬카페 퍼즐팩토리 홍대2호점,정릉동,서울 마포구 잔다리로2길 17 3층 퍼즐팩토리 2호점,26합정역,550m,15,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,False
3298,엣지커피,엣지커피,남가좌동,NaN,NaN,NaN,66,NaN,25.0,NaN,...,NaN,NaN,NaN,3.0,NaN,29.0,NaN,1.0,NaN,True
3417,허그댕댕,허그댕댕,창신동,서울 종로구 지봉로 81 1층 111호,6창신역,203m,13,NaN,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3458,화양연화,화양연화,화양동,서울 광진구 광나루로14길 8 A동 지하1층,7어린이대공원역,489m,23,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,True
3616,삼키로,삼키로,중계동,NaN,NaN,NaN,22,NaN,1.0,NaN,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,True
3807,개성있냥,개성있냥,가락동,서울 송파구 오금로46길 62 개성있냥 1층,5개롱역,788m,11,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
5115,놀숲플러스 홍대점,놀숲플러스 홍대점,서교동,서울 마포구 양화로16길 29 B1,2공항경의중앙홍대입구역,427m,191,NaN,43.0,NaN,...,NaN,NaN,NaN,28.0,NaN,36.0,NaN,NaN,NaN,True
5143,덤앤더머 홍대점,덤앤더머 방탈출카페 홍대점,서교동,서울 마포구 독막로7길 48,26합정역,439m,799,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,NaN,4.0,NaN,False
5169,위드미청계천점 청계천점,이마트24 청계천점,서린동,서울 종로구 청계천로 35 관정빌딩 1층,1종각역,195m,101,NaN,29.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,False
5238,브레이크아웃이스케이프 홍대점,브레이크아웃이스케이프,서교동,서울 마포구 와우산로 102 3층,2공항경의중앙홍대입구역,459m,994,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,71.0,NaN,6.0,NaN,False
5294,쿼즈,쿼즈 보드카페,목동,서울 양천구 오목로 337-10 지하1층 2호,5오목교역,158m,32,NaN,11.0,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,1.0,NaN,False

In [ ]:
# 귀금속 : 그루브앤골드, 트롤비즈코리아
# 편의점: gs25
# 음식점: 청년다방, 샐러디, 쩡이네(건어물)


df[(df['"커피가 맛있어요"'].isnull()) & (df['"음료가 맛있어요"'].isnull()) &
   (df['"디저트가 맛있어요"'].isnull()) & (df['"대화하기 좋아요"'].isnull()) & 
   (df['"집중하기 좋아요"'].isnull()) & (df['"좌석이 편해요"'].isnull()) & 
   (df['"특별한 메뉴가 있어요"'].isnull()) & 
   (df['"뷰가 좋아요"'].isnull()) & (df['"사진이 잘 나와요"'].isnull())][60:]

,name,search_name,address,road_address,near_station,station_distance,total_review,"""커피가 맛있어요""","""친절해요""","""음료가 맛있어요""",...,"""집중하기 좋아요""","""인테리어가 멋져요""","""좌석이 편해요""","""화장실이 깨끗해요""","""특별한 메뉴가 있어요""","""가성비가 좋아요""","""뷰가 좋아요""","""주차하기 편해요""","""사진이 잘 나와요""",same
5312,이스케이프샵,이스케이프 샾,신사동,서울 강남구 논현로175길 93 지하1층,3압구정역,733m,220,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,30.0,NaN,3.0,NaN,False
5475,머더파커 건대2호점,머더파커 건대2호점,화양동,서울 광진구 동일로22길 68 지하1층,27건대입구역,151m,24,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,True
5481,그루브앤골드,그루브앤골드 망원점,망원동,서울 마포구 망원로8길 67 1층,6망원역,439m,11,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,False
5565,카페데코믹스 홍대점,카페데코믹스 홍대점,서교동,서울 마포구 어울마당로 96 3층,2공항경의중앙홍대입구역,376m,51,NaN,14.0,NaN,...,NaN,NaN,NaN,3.0,NaN,7.0,NaN,1.0,NaN,True
5702,GS25 명륜성대점,GS25 명륜성대점,명륜1가,서울 종로구 명륜길 2,4혜화역,838m,126,NaN,74.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
5858,만화카페통툰,통툰 영등포점,영등포동3가,서울 영등포구 영중로6길 12 포레스트힐시티 B1,1영등포역,312m,96,NaN,16.0,NaN,...,NaN,NaN,NaN,5.0,NaN,13.0,NaN,1.0,NaN,False
5993,놀숲 충무로동국대점,놀숲 충무로동국대점,충무로5가,서울 중구 서애로 6-1 3층,34충무로역,300m,26,NaN,11.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,True
6066,청년다방 오목교역점,청년다방 오목교역점,신정동,서울 양천구 목동동로12길 22 프리우스아파트,5오목교역,259m,43,NaN,10.0,NaN,...,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,True
6314,놀숲강남역점 강남역점,놀숲 강남역점,역삼동,서울 강남구 강남대로98길 17 1층 놀숲 강남역점,2신분당강남역,333m,63,NaN,25.0,NaN,...,NaN,NaN,NaN,8.0,NaN,13.0,NaN,3.0,NaN,False
6320,샐러디 양천구청점,샐러디 양천구청점,신정동,서울 양천구 목동서로 349 센트럴프라자 127호,2양천구청역,819m,15,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0,NaN,True
6589,GS25연대서문점 연대서문점,GS25 연대서문점,연희동,NaN,NaN,NaN,44,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,False
6622,통툰 서울대입구역점,통툰 서울대입구역점,봉천동,서울 관악구 관악로16길 13 5층 통툰 서울대입구역점,2서울대입구역,95m,20,NaN,8.0,NaN,...,NaN,NaN,NaN,2.0,NaN,4.0,NaN,NaN,NaN,True
6726,스모모,스모모,화양동,경기 남양주시 오남읍 진건오남로 880,4오남역,556m,19,NaN,15.0,NaN,...,NaN,2.0,NaN,NaN,NaN,5.0,NaN,8.0,NaN,True
6793,놀숲둔촌역점 둔촌역점,놀숲 둔촌역점,성내동,서울 강동구 양재대로 1319 3층,5둔촌동역,404m,48,NaN,20.0,NaN,...,NaN,NaN,NaN,3.0,NaN,6.0,NaN,1.0,NaN,False
6814,놀숲압구정역점 압구정역점,놀숲 압구정역점,신사동,서울 강남구 압구정로28길 22-6 지하 1층,3압구정역,160m,28,NaN,9.0,NaN,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,False
6989,놀숲이수역점 이수역점,놀숲 이수역점,사당동,서울 동작구 동작대로27길 5 지안플라자 지하1층,47이수역,106m,20,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,False
7003,셜록홈즈 홍대점,셜록홈즈 홍대점,서교동,서울 마포구 와우산로27길 35,2공항경의중앙홍대입구역,363m,12,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,True
7137,쩡이네,쩡이네,오장동,서울 중구 을지로32길 39 (오장동) 중부시장 쩡이네,245동대문역사문화공원역,344m,39,NaN,11.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,True
7414,트롤비즈코리아,트롤비즈코리아 서울숲점,성수동1가,서울 성동구 서울숲4길 24 1층,2뚝섬역,361m,30,NaN,18.0,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,False
7440,위드미 홍대서교점,이마트24 홍대서교점,서교동,서울 마포구 와우산로29길 48,2공항경의중앙홍대입구역,190m,44,NaN,17.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
7681,놀숲사당역점 사당역점,놀숲 사당역점,남현동,서울 관악구 과천대로 941 6층,24사당역,49m,35,NaN,6.0,NaN,...,NaN,NaN,NaN,1.0,NaN,6.0,NaN,NaN,NaN,False
8057,놀숲숙대입구점 숙대입구점,놀숲 숙대입구점,청파동2가,서울 용산구 청파로47길 52 지하1층,4숙대입구역,473m,50,NaN,10.0,NaN,...,NaN,NaN,NaN,3.0,NaN,8.0,NaN,NaN,NaN,False
8082,벌툰 당산점,벌툰 당산점,당산동6가,서울 영등포구 양평로 18 2층 벌툰 만화카페,29당산역,21m,27,NaN,6.0,NaN,...,NaN,NaN,NaN,4.0,NaN,2.0,NaN,NaN,NaN,True
8092,놀숲신림역점 신림역점,놀숲 신림역점,신림동,서울 관악구 신림로 321,2신림신림역,121m,150,NaN,28.0,NaN,...,NaN,NaN,NaN,3.0,NaN,14.0,NaN,1.0,NaN,False
8369,놀숲 강남교보타워점,놀숲 강남교보타워점,서초동,서울 서초구 서초대로77길 58 트라이앤드빌딩 B1,9신분당신논현역,170m,60,NaN,15.0,NaN,...,NaN,NaN,NaN,2.0,NaN,9.0,NaN,1.0,NaN,True
8380,해빛,해빛 한강잠원1호점,안국동,NaN,NaN,NaN,101,NaN,26.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,False
8454,안녕강아지와고양이,안녕강아지와고양이,오금동,서울 송파구 마천로 99,5방이역,508m,49,NaN,23.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,True

In [ ]:
# 위의 경우 전부 제거해도 된다.
index_3 = df[(df['"커피가 맛있어요"'].isnull()) & (df['"음료가 맛있어요"'].isnull()) &
   (df['"디저트가 맛있어요"'].isnull()) & (df['"대화하기 좋아요"'].isnull()) & 
   (df['"집중하기 좋아요"'].isnull()) & (df['"좌석이 편해요"'].isnull()) & 
   (df['"특별한 메뉴가 있어요"'].isnull()) & 
   (df['"뷰가 좋아요"'].isnull()) & (df['"사진이 잘 나와요"'].isnull())].index

df.drop(index_3, inplace= True)

In [ ]:
# 브런치의 경우, 뷰가 좋아요, 음식이 맛있어요, 가성비가 좋아요, 화장실이 깨끗해요, 친절해요, 매장이 청결해요가 있는 겨웅가 있었다.
# pc방의 경우 좌석이 편해요가 있고, 음식점은 특별한 메뉴가
# 정말 카페만 해당하는 키워드가 전부 NaN인 경우는 전체 제거하는 것도 나쁘지 않아보인다.


# 515 티룸은 망했네
# 떡집도 제거?? => 키워드가 달라서 제거
# 써브웨이, 용호야채곱창, 로스니버거, 연소바,이삭토스트, 산밑에, 브런치가, 인비트원(샐러드), 카페마마스(양식).
# 일품칼국수, 로코민트
# 더올리브는 리뷰가 10개가 아닌데 갖고옴.. 와이파이 끊길때 정보 가져온듯
# 카페, 커피라고 적혀있으나 네이버지도에는 브런치로 분류된 경우 키워드 종류가 달라져서 이 경우 통일된 데이터셋을 얻기에는 방해가 되는 것 같아 전부 제거했다.

df[(df['"커피가 맛있어요"'].isnull()) & (df['"음료가 맛있어요"'].isnull()) &
   (df['"디저트가 맛있어요"'].isnull()) & (df['"대화하기 좋아요"'].isnull()) & 
   (df['"집중하기 좋아요"'].isnull()) &
   (df['"사진이 잘 나와요"'].isnull())][150:200]

,name,search_name,address,road_address,near_station,station_distance,total_review,"""커피가 맛있어요""","""친절해요""","""음료가 맛있어요""",...,"""집중하기 좋아요""","""인테리어가 멋져요""","""좌석이 편해요""","""화장실이 깨끗해요""","""특별한 메뉴가 있어요""","""가성비가 좋아요""","""뷰가 좋아요""","""주차하기 편해요""","""사진이 잘 나와요""",same
6961,뉴욕핫도그앤커피 잠실점,뉴욕핫도그앤커피 롯데월드점,잠실동,서울 송파구 올림픽로 240 어드벤처 4층,28잠실역,52m,198,NaN,28.0,NaN,...,NaN,7.0,NaN,NaN,9.0,19.0,10.0,2.0,NaN,False
6968,삼차 방배카페골목점,삼차 방배카페골목점,방배동,서울 서초구 방배중앙로 151,47이수역,697m,81,NaN,26.0,NaN,...,NaN,1.0,NaN,8.0,4.0,4.0,NaN,8.0,NaN,True
6990,카페395,밀레니엄 힐튼 서울 카페395,남대문로5가,서울 중구 소월로 50 메인로비 1층,4회현역,387m,978,NaN,6.0,NaN,...,NaN,0.0,NaN,58.0,7.0,7.0,3.0,9.0,NaN,False
7002,오른손푸드카페,오른손푸드카페,봉천동,서울 관악구 관악로14길 111 1층,2낙성대역,508m,25,NaN,16.0,NaN,...,NaN,7.0,NaN,NaN,9.0,4.0,NaN,NaN,NaN,True
7071,잭팟,오스테리아 잭팟,공릉동,NaN,NaN,NaN,135,NaN,30.0,NaN,...,NaN,60.0,NaN,4.0,34.0,3.0,20.0,27.0,NaN,False
7105,청년다방 롯데월드점,청년다방 롯데월드점,잠실동,서울 송파구 올림픽로 240 롯데월드 지하1층,28잠실역,52m,232,NaN,40.0,NaN,...,NaN,4.0,NaN,4.0,29.0,44.0,NaN,1.0,NaN,True
7179,그램,그램,양재동,서울 서초구 논현로31길 6 1층,3신분당양재역,749m,36,NaN,14.0,NaN,...,NaN,9.0,NaN,5.0,8.0,3.0,1.0,NaN,NaN,True
7210,청년다방 송파방이점,청년다방 송파방이점,방이동,서울 송파구 오금로31길 10,5방이역,581m,115,NaN,19.0,NaN,...,NaN,1.0,NaN,NaN,10.0,9.0,NaN,1.0,NaN,True
7256,Mr.goat,미스터고트,신원동,서울 서초구 청룡마을길 13,신분당청계산입구역,448m,46,NaN,10.0,NaN,...,NaN,8.0,NaN,2.0,3.0,8.0,6.0,1.0,NaN,False
7272,청년다방 구로지하이시티점,청년다방 구로지하이시티점,구로동,서울 구로구 디지털로 243,7남구로역,800m,109,NaN,19.0,NaN,...,NaN,4.0,NaN,3.0,9.0,12.0,NaN,3.0,NaN,True
7282,주부리,주부리,방배동,서울 서초구 동광로12가길 25 1층 주부리,47이수역,155m,129,NaN,26.0,NaN,...,NaN,3.0,NaN,NaN,5.0,28.0,NaN,NaN,NaN,True
7303,누리정,누리정,상암동,서울 마포구 월드컵북로 396,경의중앙수색역,694m,95,NaN,20.0,NaN,...,NaN,2.0,NaN,NaN,8.0,24.0,1.0,2.0,NaN,True
7322,스테이지28카페,스테이지28,고덕동,NaN,NaN,NaN,10,NaN,3.0,NaN,...,NaN,4.0,NaN,1.0,1.0,NaN,5.0,5.0,NaN,False
7369,청년다방 강남구청역점,청년다방 강남구청역점,논현동,서울 강남구 학동로 343 지하 1층 B101호,7수인분당강남구청역,24m,153,NaN,17.0,NaN,...,NaN,1.0,NaN,3.0,14.0,16.0,NaN,4.0,NaN,True
7444,미스꼬레아,미스꼬레아,사당동,NaN,NaN,NaN,117,NaN,21.0,NaN,...,NaN,2.0,NaN,NaN,10.0,24.0,1.0,1.0,NaN,True
7463,뉴욕핫도그앤커피 마포점,뉴욕핫도그앤커피 마포대흥역점,염리동,서울 마포구 숭문길 12,6대흥역,354m,34,NaN,15.0,NaN,...,NaN,1.0,NaN,1.0,4.0,8.0,1.0,1.0,NaN,False
7476,오리지널팬케이크하우스이태원점 이태원점,오리지널팬케이크하우스 이태원점,이태원동,서울 용산구 이태원로 153 덕흥빌딩 1층,6이태원역,223m,324,NaN,68.0,NaN,...,NaN,66.0,NaN,7.0,97.0,18.0,2.0,3.0,NaN,False
7522,날쌘카페 상암DMC점,날쌘카페 상암DMC점,증산동,서울 은평구 증산로3길 8-25 1층 날쌘카페,6증산역,449m,80,NaN,33.0,NaN,...,NaN,3.0,NaN,NaN,10.0,17.0,1.0,1.0,NaN,True
7532,청년다방가락점 가락점,청년다방 가락점,가락동,서울 송파구 동남로18길 14-1 1층,5개롱역,530m,92,NaN,22.0,NaN,...,NaN,3.0,NaN,NaN,7.0,17.0,NaN,NaN,NaN,False
7581,청년다방 강변점,청년다방 강변점,구의동,서울 광진구 구의강변로 88-1,2강변역,408m,201,NaN,37.0,NaN,...,NaN,6.0,NaN,NaN,21.0,27.0,1.0,5.0,NaN,True
7607,샐러디 방이점,샐러디 방이점,방이동,서울 송파구 오금로11길 37,8몽촌토성역,251m,388,NaN,93.0,NaN,...,NaN,5.0,NaN,3.0,28.0,69.0,NaN,4.0,NaN,True
7626,카페마마스잠실점 마마스잠실점,카페마마스 잠실점,신천동,서울 송파구 올림픽로 269 롯데캐슬잠실점 1층,28잠실역,11m,819,NaN,98.0,NaN,...,NaN,54.0,NaN,20.0,0.0,37.0,20.0,20.0,NaN,False
7679,니들누들,니들누들 면목점,목동,서울 중랑구 답십리로75길 6 1층,7용마산역,755m,86,NaN,28.0,NaN,...,NaN,1.0,NaN,6.0,6.0,14.0,2.0,1.0,NaN,False
7729,더라운드 삼성점,더라운드 삼성점,삼성동,서울 강남구 영동대로 648 삼안빌딩 1층,7청담역,30m,57,NaN,7.0,NaN,...,NaN,11.0,NaN,3.0,9.0,2.0,1.0,3.0,NaN,True
7762,Maon,Maon,보문동6가,서울 성북구 보문로21길 34 지상 1층,6우이신설보문역,361m,73,NaN,45.0,NaN,...,NaN,33.0,NaN,4.0,13.0,7.0,NaN,NaN,NaN,True
7769,닥터로빈 이대점,닥터로빈 이대점,대현동,서울 서대문구 이화여대길 52 이화여자대학교 ECC B4,경의중앙신촌역,483m,319,NaN,55.0,NaN,...,NaN,17.0,NaN,7.0,49.0,12.0,7.0,27.0,NaN,True
7782,닥터로빈 이대점,닥터로빈 이대점,대현동,서울 서대문구 이화여대길 52 이화여자대학교 ECC B4,경의중앙신촌역,483m,319,NaN,55.0,NaN,...,NaN,17.0,NaN,7.0,49.0,12.0,7.0,27.0,NaN,True
7790,일오공,150,논현동,서울 강남구 도산대로46길 8 디아이개발,수인분당압구정로데오역,773m,31,NaN,5.0,NaN,...,NaN,8.0,NaN,1.0,2.0,5.0,NaN,1.0,NaN,False
7804,현대다방,청년다방 봉천현대점,용두동,NaN,NaN,NaN,128,NaN,30.0,NaN,...,NaN,NaN,NaN,NaN,14.0,13.0,1.0,NaN,NaN,False
7853,카페마마스상암MBC점 마마스상암MBC점,카페마마스 상암MBC점,상암동,서울 마포구 성암로 267 엠비씨신사옥 1층 101호,경의중앙수색역,500m,493,NaN,62.0,NaN,...,NaN,39.0,NaN,3.0,58.0,27.0,7.0,24.0,NaN,False
7915,커피.3,coffee3,노량진동,서울 동작구 만양로14가길 18,19노량진역,357m,104,NaN,30.0,NaN,...,NaN,10.0,NaN,1.0,14.0,28.0,1.0,1.0,NaN,False
7927,릴즈,릴즈,하왕십리동,서울 성동구 청계천로 474 모노퍼스 빌딩 104호,2상왕십리역,602m,188,NaN,42.0,NaN,...,NaN,37.0,NaN,2.0,20.0,21.0,19.0,8.0,NaN,True
7932,BANANATALK,바나나토크,군자동,서울 광진구 능동로 237,7어린이대공원역,294m,196,NaN,27.0,NaN,...,NaN,45.0,NaN,4.0,15.0,7.0,14.0,12.0,NaN,False
7938,청년다방 문정법조타운점,청년다방 문정법조타운점,문정동,서울 송파구 법원로 114 엠스테이트C동 지하1층 115호,8문정역,349m,127,NaN,28.0,NaN,...,NaN,2.0,NaN,4.0,14.0,16.0,1.0,6.0,NaN,True
7980,SALMOS231,SALMOS231,양재동,서울 서초구 마방로2길 33,신분당양재시민의숲역,224m,42,NaN,11.0,NaN,...,NaN,4.0,NaN,3.0,7.0,4.0,NaN,3.0,NaN,True
7985,비스트로33,비스트로33,신원동,서울 서초구 본마을길 33 1층 비스트로33,신분당청계산입구역,830m,78,NaN,14.0,NaN,...,NaN,10.0,NaN,2.0,7.0,12.0,3.0,2.0,NaN,True
8055,몰토베네,몰토베네,합정동,서울 마포구 성지3길 67 1층,26합정역,565m,188,NaN,96.0,NaN,...,NaN,44.0,NaN,9.0,69.0,4.0,3.0,1.0,NaN,True
8109,모뜨,모뜨,평창동,NaN,NaN,NaN,107,NaN,24.0,NaN,...,NaN,27.0,NaN,12.0,9.0,1.0,76.0,24.0,NaN,True
8133,무제한,무제한,서교동,서울 마포구 어울마당로 118 천마빌딩 3층,2공항경의중앙홍대입구역,127m,12,NaN,2.0,NaN,...,NaN,3.0,1.0,1.0,NaN,5.0,NaN,NaN,NaN,True
8145,베이스캠프,베이스캠프,우이동,NaN,NaN,NaN,47,NaN,6.0,NaN,...,NaN,9.0,NaN,2.0,6.0,4.0,3.0,NaN,NaN,True
8147,지엠유,지엠유,한남동,서울 용산구 한남대로20길 21-13,경의중앙한남역,845m,30,NaN,14.0,NaN,...,NaN,12.0,NaN,NaN,11.0,1.0,1.0,2.0,NaN,True
8162,청년다방 마곡나루역점,청년다방 마곡나루역점,마곡동,서울 강서구 마곡서로 152 두산더랜드타워 1층 B동 111호,9공항마곡나루역,215m,79,NaN,11.0,NaN,...,NaN,3.0,NaN,NaN,13.0,8.0,NaN,2.0,NaN,True
8180,아메리칸에그샌드 롯데몰김포공항점,아메리칸에그샌드 롯데몰 김포공항점,방화동,NaN,NaN,NaN,32,NaN,5.0,NaN,...,NaN,NaN,NaN,1.0,1.0,5.0,NaN,5.0,NaN,False
8244,에그드랍마곡역점 마곡역점,에그드랍 마곡역점,마곡동,"서울 강서구 공항대로 190 푸리마타워, 105호",5마곡역,96m,213,NaN,35.0,NaN,...,NaN,5.0,NaN,2.0,12.0,25.0,NaN,3.0,NaN,False
8281,베어스덴,베어스덴 브런치,창천동,서울 서대문구 연희로4길 10 1층 베어스덴,2공항경의중앙홍대입구역,558m,123,NaN,29.0,NaN,...,NaN,24.0,NaN,3.0,24.0,15.0,4.0,NaN,NaN,False
8283,파넬카페,파넬,신사동,서울 강남구 언주로164길 14,3압구정역,651m,249,NaN,53.0,NaN,...,NaN,74.0,NaN,19.0,38.0,8.0,25.0,15.0,NaN,False
8298,메종갤러리아한남,고메이494 한남,한남동,서울 용산구 한남대로 91,6한강진역,582m,1130,NaN,2.0,NaN,...,NaN,5.0,NaN,62.0,2.0,49.0,12.0,41.0,NaN,False
8301,Folkcoffee,포크커피,구산동,대전 서구 계룡로407번길 33 1층,1갈마역,811m,32,NaN,17.0,NaN,...,NaN,10.0,NaN,NaN,13.0,NaN,2.0,NaN,NaN,False
8318,더라운지,The Lounge,노량진동,NaN,NaN,NaN,62,NaN,4.0,NaN,...,NaN,18.0,NaN,3.0,6.0,4.0,1.0,2.0,NaN,False
8319,에그드랍 보라매점,에그드랍 보라매점,신대방동,서울 동작구 보라매로5가길 7,신림보라매병원역,95m,435,NaN,77.0,NaN,...,NaN,16.0,NaN,1.0,29.0,49.0,5.0,3.0,NaN,True

In [ ]:
index4 = df[(df['"커피가 맛있어요"'].isnull()) & (df['"음료가 맛있어요"'].isnull()) &
   (df['"디저트가 맛있어요"'].isnull()) & (df['"대화하기 좋아요"'].isnull()) & 
   (df['"집중하기 좋아요"'].isnull()) &
   (df['"사진이 잘 나와요"'].isnull())].index

df.drop(index=index4, inplace = True)

In [ ]:
# 데미타스는 잘못 불러와서 제거 

index5 = df[(df['"커피가 맛있어요"'].isnull()) & (df['"음료가 맛있어요"'].isnull()) &
   (df['"디저트가 맛있어요"'].isnull()) & (df['"대화하기 좋아요"'].isnull()) & 
   (df['"집중하기 좋아요"'].isnull())].index

df.drop(index=index5, inplace=True)

### 음료, 디저트와 관련된 키워드를 안 갖고 있는 경우 제거

In [ ]:
# 음료, 디저트에 해당하는 부분만 전부 NaN인 경우를 보니까 bar도 많이 걸러지는듯
df[(df['"커피가 맛있어요"'].isnull()) & (df['"음료가 맛있어요"'].isnull()) &
   (df['"디저트가 맛있어요"'].isnull())]

,name,search_name,address,road_address,near_station,station_distance,total_review,"""커피가 맛있어요""","""친절해요""","""음료가 맛있어요""",...,"""집중하기 좋아요""","""인테리어가 멋져요""","""좌석이 편해요""","""화장실이 깨끗해요""","""특별한 메뉴가 있어요""","""가성비가 좋아요""","""뷰가 좋아요""","""주차하기 편해요""","""사진이 잘 나와요""",same
115,더연,더연카페&Bar,종로2가,서울 종로구 종로 74 영안빌딩 5층,1종각역,174m,36,NaN,6.0,NaN,...,NaN,11.0,NaN,1.0,5.0,1.0,NaN,1.0,NaN,False
180,종로abc,종로abc,관철동,서울 종로구 삼일대로17길 23 지하 1층,1종각역,302m,10,NaN,3.0,NaN,...,NaN,1.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,True
335,망우다방&일상맥주,망우다방&일상맥주,망우동,서울 중랑구 용마산로116길 14 1층,경의중앙경춘망우역,919m,52,NaN,17.0,NaN,...,NaN,13.0,NaN,NaN,3.0,9.0,NaN,NaN,NaN,True
362,오너스,오너스,역삼동,"서울 강남구 봉은사로4길 19 3층,4층",9신분당신논현역,190m,39,NaN,7.0,NaN,...,NaN,10.0,NaN,2.0,5.0,8.0,NaN,NaN,NaN,True
424,커피락,커피락펍,서소문동,서울 중구 서소문로 134-14,12시청역,117m,57,NaN,19.0,NaN,...,NaN,3.0,NaN,NaN,4.0,18.0,NaN,1.0,NaN,False
629,클라시코,클라시코,신사동,서울 강남구 선릉로157길 27-3 B1,수인분당압구정로데오역,342m,13,NaN,5.0,NaN,...,NaN,3.0,NaN,NaN,2.0,2.0,NaN,NaN,NaN,True
711,히읗,히읗,쌍문동,서울 도봉구 우이천로 282 1층,4쌍문역,663m,41,NaN,6.0,NaN,...,NaN,8.0,NaN,4.0,3.0,4.0,NaN,NaN,NaN,True
822,잭팟잉글리쉬,BLACK&JACK,서교동,서울 마포구 와우산로29라길 11 1.5층,2공항경의중앙홍대입구역,260m,64,NaN,23.0,NaN,...,NaN,29.0,NaN,4.0,8.0,14.0,NaN,1.0,NaN,False
979,슈타인도르프,슈타인도르프,방이동,서울 송파구 오금로15길 11,9송파나루역,439m,63,NaN,9.0,NaN,...,NaN,10.0,NaN,2.0,5.0,9.0,NaN,2.0,NaN,True
1001,디바야누스,디바야누스,서초동,서울 서초구 서초대로54길 9-8 길찾기,23교대역,83m,34,NaN,7.0,NaN,...,NaN,7.0,NaN,1.0,NaN,2.0,NaN,NaN,NaN,True
1260,카페어퍼콜라보 어퍼콜라보,어퍼콜라보,한남동,서울 용산구 독서당로14길 29,경의중앙한남역,350m,60,NaN,21.0,NaN,...,NaN,28.0,NaN,10.0,2.0,8.0,NaN,NaN,NaN,False
1263,엘파티오,El Patio,성수동1가,서울 성동구 연무장길 10-5,2뚝섬역,411m,39,NaN,13.0,NaN,...,NaN,21.0,NaN,1.0,3.0,4.0,NaN,NaN,NaN,False
1495,모아다방,모아다방,문래동2가,서울 영등포구 도림로125가길 11-2 2층 201호,2문래역,455m,27,NaN,10.0,NaN,...,NaN,15.0,NaN,NaN,3.0,3.0,NaN,NaN,NaN,True
1522,알,꿩먹고알먹고,서계동,NaN,NaN,NaN,31,NaN,10.0,NaN,...,NaN,1.0,NaN,1.0,6.0,11.0,NaN,NaN,NaN,False
1843,산수화티하우스,산수화티하우스,한남동,서울 용산구 한남대로20길 21-14,경의중앙한남역,860m,21,NaN,11.0,NaN,...,2.0,5.0,NaN,1.0,3.0,NaN,NaN,4.0,NaN,True
1881,루프탑지니,루프탑지니,동교동,"서울 마포구 월드컵북로4길 23-5 3층,4층",2공항경의중앙홍대입구역,286m,118,NaN,68.0,NaN,...,NaN,81.0,NaN,14.0,6.0,8.0,NaN,NaN,NaN,True
2211,천년동안도,천년동안도 낙원,낙원동,서울 종로구 수표로 134 2층,135종로3가역,96m,153,NaN,56.0,NaN,...,NaN,17.0,NaN,5.0,NaN,8.0,NaN,NaN,NaN,False
2306,플로어포픽션,Floor For Fiction,소격동,서울 종로구 북촌로5가길 3 아원공방 3층,3안국역,528m,18,NaN,6.0,NaN,...,NaN,8.0,NaN,1.0,5.0,2.0,NaN,NaN,NaN,False
2404,안주다방,안주다방,구로동,서울 구로구 공원로6나길 43-16,12신도림역,418m,64,NaN,22.0,NaN,...,NaN,11.0,NaN,4.0,11.0,16.0,NaN,NaN,NaN,True
2429,몽아,몽아,군자동,서울 광진구 면목로 29 1층 몽아,57군자역,437m,55,NaN,24.0,NaN,...,NaN,9.0,NaN,NaN,10.0,5.0,NaN,NaN,NaN,True
2507,미나리,미나리,자양동,NaN,NaN,NaN,49,NaN,21.0,NaN,...,NaN,19.0,NaN,1.0,18.0,4.0,NaN,NaN,NaN,True
2528,라이브클럽소우,라이브클럽소우,수송동,서울 종로구 율곡로4길 66 삼성빌딩 3층,1종각역,389m,24,NaN,11.0,NaN,...,NaN,7.0,NaN,NaN,6.0,3.0,NaN,NaN,NaN,True
2843,스프레드,스프레드,신대방동,서울 동작구 신대방3길 33 102호 spread,2신대방역,284m,105,NaN,52.0,NaN,...,1.0,25.0,NaN,NaN,53.0,16.0,NaN,NaN,2.0,True
3040,운영카페,운영까페,상도동,서울 동작구 상도로 385 1층 101-1호,7숭실대입구역,68m,15,NaN,9.0,NaN,...,NaN,5.0,NaN,NaN,7.0,4.0,NaN,NaN,NaN,False
3144,스윗커피앤와인,스윗와인앤커피,구로동,서울 구로구 디지털로32나길 27-8 2F,2구로디지털단지역,162m,74,NaN,37.0,NaN,...,NaN,33.0,NaN,3.0,7.0,4.0,NaN,NaN,NaN,False
3752,남의커피,남의집,마곡동,NaN,NaN,NaN,42,NaN,15.0,NaN,...,NaN,12.0,NaN,5.0,18.0,5.0,NaN,NaN,NaN,False
3851,시바,개편한 시바,이태원동,서울 용산구 우사단로14길 3 2층 개편한 시바,6이태원역,172m,15,NaN,10.0,NaN,...,NaN,9.0,NaN,3.0,2.0,7.0,NaN,NaN,NaN,False
3903,곰다방,곰다방,구로동,서울 구로구 공원로8길 45 지하 1층 곰다방,12신도림역,571m,158,NaN,93.0,NaN,...,NaN,77.0,NaN,17.0,22.0,52.0,NaN,3.0,NaN,True
4203,강남주막다방,강남주막다방,신사동,서울 강남구 가로수길 16 덕암빌딩 지하1층,3신분당신사역,392m,58,NaN,29.0,NaN,...,NaN,6.0,NaN,NaN,14.0,18.0,NaN,NaN,NaN,True
4424,플랜힙,플랜힙,연남동,서울 마포구 동교로50길 17 1층 우측호,2공항경의중앙홍대입구역,674m,104,NaN,58.0,NaN,...,NaN,51.0,NaN,11.0,29.0,23.0,NaN,1.0,NaN,True
4486,소프트컬러,소프트컬러,연남동,"서울 마포구 동교로51길 63 지층, 1층",경의중앙가좌역,868m,24,NaN,6.0,NaN,...,NaN,11.0,NaN,1.0,2.0,1.0,NaN,NaN,NaN,True
4660,오우,오우,주교동,NaN,NaN,NaN,105,NaN,66.0,NaN,...,NaN,66.0,NaN,7.0,18.0,5.0,NaN,NaN,15.0,True
5335,펑키커피,고막힐링단펑키커피,성수동2가,NaN,NaN,NaN,19,NaN,7.0,NaN,...,NaN,7.0,NaN,NaN,2.0,3.0,NaN,NaN,NaN,False
5460,테라스,테라스,양재동,서울 서초구 양재천로 109-2 트윈타워2 1층,신분당양재시민의숲역,845m,125,NaN,76.0,NaN,...,NaN,56.0,NaN,3.0,17.0,14.0,NaN,2.0,NaN,True
5480,스크립트,스크립트,창천동,"서울 서대문구 연희로 34 , 2층",2공항경의중앙홍대입구역,516m,12,NaN,7.0,NaN,...,NaN,11.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,True
5641,36.5도여름동쪽점 동쪽점,36.5도여름동쪽점,서교동,서울 마포구 와우산로29길 9,2공항경의중앙홍대입구역,366m,51,NaN,10.0,NaN,...,NaN,9.0,NaN,2.0,6.0,9.0,NaN,NaN,NaN,False
5796,커피락펍,커피락펍,남대문로4가,NaN,NaN,NaN,57,NaN,19.0,NaN,...,NaN,3.0,NaN,NaN,4.0,18.0,NaN,1.0,NaN,True
5812,바우리,바우리,합정동,서울 마포구 토정로3길 17 지하,26합정역,355m,38,NaN,9.0,NaN,...,NaN,15.0,NaN,3.0,6.0,NaN,NaN,NaN,NaN,True
6092,카페언플러그드 언플러그드,언플러그드,서교동,서울 마포구 와우산로33길 26 1층,2공항경의중앙홍대입구역,279m,29,NaN,7.0,NaN,...,NaN,8.0,NaN,NaN,5.0,2.0,NaN,NaN,NaN,False
6282,눈타이드,눈타이드,청량리동,NaN,NaN,NaN,121,NaN,24.0,NaN,...,NaN,NaN,NaN,NaN,10.0,28.0,NaN,4.0,NaN,True
6381,산수화,산수화티하우스,한남동,서울 용산구 한남대로20길 21-14,경의중앙한남역,860m,21,NaN,11.0,NaN,...,2.0,5.0,NaN,1.0,3.0,NaN,NaN,4.0,NaN,False
6651,와인웍스,와인웍스 현대백화점 압구정본점,압구정동,서울 강남구 압구정로 165 압구정 현대백화점 본점 B1 와인웍스,3압구정역,2m,38,NaN,22.0,NaN,...,NaN,4.0,NaN,1.0,7.0,8.0,NaN,7.0,NaN,False
6695,민석씨,민석씨커피,방배동,서울 서초구 서초대로 125 103호,7내방역,194m,22,NaN,6.0,NaN,...,NaN,1.0,NaN,NaN,NaN,6.0,NaN,NaN,NaN,False
6884,NorwegianWood,노르웨이의숲,수유동,대구 중구 동성로2길 30-5 2층,12반월당역,347m,31,NaN,9.0,NaN,...,NaN,12.0,NaN,NaN,9.0,NaN,NaN,NaN,NaN,False
7132,비어위크,비어위크,봉천동,서울 관악구 남부순환로226길 12 2층,2서울대입구역,154m,29,NaN,7.0,NaN,...,NaN,1.0,NaN,NaN,1.0,4.0,NaN,NaN,NaN,True
7509,카페 더크림슨,카페 더 크림슨,이태원동,서울 용산구 이태원로 143-28 1층,6녹사평역,346m,30,NaN,17.0,NaN,...,NaN,9.0,NaN,NaN,12.0,2.0,NaN,NaN,NaN,False
7511,비닐하우스,비닐하우스,문래동3가,서울 영등포구 도림로128가길 13-8,2문래역,567m,155,NaN,47.0,NaN,...,NaN,64.0,NaN,13.0,40.0,7.0,NaN,3.0,NaN,True
7858,꾸까 광화문점,Terrace KUKKA,사간동,서울 종로구 율곡로 1 2층 테라스꾸까,3안국역,470m,31,NaN,7.0,NaN,...,NaN,14.0,NaN,2.0,3.0,NaN,2.0,NaN,NaN,False
8016,벨뷰,벨뷰,청담동,서울 강남구 선릉로152길 30 1층 벨뷰,수인분당압구정로데오역,431m,101,NaN,30.0,NaN,...,NaN,49.0,NaN,12.0,8.0,4.0,NaN,5.0,NaN,True
8457,톨릭스,카페톨릭스,도곡동,서울 강남구 언주로30길 56 타워팰리스 상가동 101호,3수인분당도곡역,339m,72,NaN,7.0,NaN,...,NaN,14.0,NaN,2.0,15.0,2.0,NaN,10.0,NaN,False

In [ ]:
index6 = df[(df['"커피가 맛있어요"'].isnull()) & (df['"음료가 맛있어요"'].isnull()) &
   (df['"디저트가 맛있어요"'].isnull())].index

df.drop(index=index6, inplace=True)

In [ ]:
# 카페에 해당하는 경우만 남은 dataframe => 따로 저장해놓기
df

,name,search_name,address,road_address,near_station,station_distance,total_review,"""커피가 맛있어요""","""친절해요""","""음료가 맛있어요""",...,"""집중하기 좋아요""","""인테리어가 멋져요""","""좌석이 편해요""","""화장실이 깨끗해요""","""특별한 메뉴가 있어요""","""가성비가 좋아요""","""뷰가 좋아요""","""주차하기 편해요""","""사진이 잘 나와요""",same
0,버블베어,버블베어,방화동,서울 강서구 금낭화로 167 방화8단지개화아파트,5방화역,427m,18,7.0,5.0,5.0,...,NaN,NaN,1.0,2.0,2.0,NaN,NaN,1.0,NaN,True
1,커피빈코리아낙성대역점 코리아낙성대역점,커피빈 낙성대역점,봉천동,"서울 관악구 남부순환로 1909 1,2층",2낙성대역,119m,284,7.0,56.0,74.0,...,48.0,8.0,33.0,2.0,2.0,8.0,14.0,NaN,1.0,False
2,노란고무줄,노란꼬무줄 선릉본점,대치동,서울 강남구 선릉로 424 1층5호 노란꼬무줄,2수인분당선릉역,157m,134,40.0,14.0,61.0,...,NaN,1.0,NaN,NaN,21.0,33.0,NaN,1.0,NaN,False
3,커피랩,커피랩,서교동,서울 마포구 와우산로29길 14,2공항경의중앙홍대입구역,324m,100,76.0,23.0,13.0,...,10.0,19.0,2.0,6.0,10.0,4.0,5.0,NaN,4.0,True
4,커핀그루나루신천점 신천점,커핀그루나루 신천점,잠실동,서울 송파구 올림픽로12길 8,2잠실새내역,228m,140,64.0,14.0,31.0,...,7.0,2.0,15.0,5.0,5.0,6.0,3.0,NaN,1.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8491,커피나무 보라매역점,커피나무 보라매역점,신길동,서울 영등포구 여의대방로 135,7신림보라매역,44m,219,0.0,40.0,38.0,...,8.0,16.0,28.0,8.0,7.0,23.0,7.0,3.0,1.0,True
8492,스노잉합정점 합정점,스노잉 합정점,합정동,서울 마포구 성지길 22,26합정역,140m,48,21.0,17.0,11.0,...,1.0,6.0,3.0,NaN,5.0,3.0,NaN,NaN,2.0,False
8493,이디야커피 논골사거리점,이디야커피 논골사거리점,금호동1가,서울 성동구 난계로 35,5행당역,395m,189,1.0,46.0,38.0,...,21.0,5.0,21.0,3.0,5.0,28.0,2.0,2.0,6.0,True
8494,퍼블릭맨션,퍼블릭맨션,목동,서울 양천구 등촌로 154,9등촌역,825m,27,17.0,13.0,9.0,...,2.0,8.0,1.0,1.0,2.0,1.0,NaN,NaN,NaN,True
8495,이디야커피 굽은다리역점,이디야커피 굽은다리역점,천호동,서울 강동구 양재대로 1543 진주빌딩,5굽은다리역,227m,65,28.0,20.0,12.0,...,3.0,3.0,NaN,NaN,NaN,3.0,1.0,1.0,1.0,True

## 데이터 형식 전처리

In [ ]:
# 뒤에거 돌리다가 추가된 열이어서 제거하기
del df['same']

In [ ]:
# 리뷰데이터의 nan값을 0으로 바꾸기
df.loc[:,'"커피가 맛있어요"':] = df.loc[:,'"커피가 맛있어요"':].fillna(0)

### 'station_distance' 행 관련

In [ ]:
# station_distance을 사용하기 위해선 string이 아니라 integer이어야 함
# unique를 통해 속한 값 찾기

df['station_distance'].unique()

array(['427m', '119m', '157m', '324m', '228m', '200m', '156m', '333m',
       '203m', nan, '650m', '232m', '95m', '220m', '496m', '395m', '56m',
       '547m', '153m', '186m', '405m', '159m', '198m', '498m', '466m',
       '535m', '807m', '100m', '183m', '101m', '77m', '79m', '148m',
       '181m', '29m', '14m', '188m', '599m', '76m', '99m', '425m', '889m',
       '330m', '475m', '941m', '118m', '25m', '292m', '307m', '369m',
       '154m', '221m', '141m', '134m', '495m', '389m', '177m', '702m',
       '560m', '293m', '84m', '317m', '468m', '437m', '373m', '403m',
       '471m', '500m', '805m', '541m', '513m', '456m', '745m', '552m',
       '326m', '111m', '578m', '555m', '15m', '300m', '358m', '297m',
       '227m', '75m', '372m', '434m', '518m', '421m', '767m', '312m',
       '574m', '291m', '401m', '256m', '308m', '342m', '192m', '829m',
       '187m', '140m', '23m', '458m', '444m', '710m', '132m', '309m',
       '597m', '661m', '295m', '666m', '150m', '135m', '911m', '35m',
       '49m', '364m', '19m', '750m', '930m', '660m', '396m', '510m',
       '748m', '448m', '391m', '708m', '10m', '430m', '120m', '104m',
       '418m', '97m', '258m', '282m', '920m', '561m', '410m', '467m',
       '752m', '764m', '638m', '22m', '52m', '402m', '184m', '635m',
       '388m', '255m', '442m', '563m', '553m', '103m', '210m', '190m',
       '281m', '997m', '110m', '93m', '615m', '529m', '21m', '316m',
       '775m', '416m', '976m', '59m', '508m', '201m', '974m', '112m',
       '229m', '415m', '519m', '550m', '397m', '337m', '539m', '366m',
       '155m', '283m', '737m', '128m', '36m', '644m', '236m', '218m',
       '298m', '116m', '823m', '144m', '319m', '682m', '522m', '225m',
       '546m', '85m', '168m', '302m', '887m', '531m', '249m', '346m',
       '699m', '90m', '88m', '657m', '244m', '527m', '762m', '272m',
       '189m', '768m', '138m', '238m', '827m', '784m', '45m', '487m',
       '213m', '301m', '538m', '26m', '197m', '251m', '446m', '521m',
       '704m', '287m', '16m', '590m', '122m', '454m', '269m', '66m',
       '313m', '596m', '540m', '61m', '278m', '96m', '205m', '473m',
       '117m', '17m', '470m', '483m', '428m', '607m', '722m', '271m',
       '542m', '465m', '289m', '143m', '480m', '658m', '133m', '277m',
       '450m', '290m', '478m', '743m', '40m', '136m', '193m', '867m',
       '328m', '161m', '215m', '696m', '589m', '262m', '463m', '394m',
       '216m', '472m', '191m', '692m', '377m', '214m', '92m', '270m',
       '9m', '772m', '645m', '261m', '304m', '82m', '621m', '254m',
       '284m', '701m', '382m', '734m', '46m', '697m', '755m', '439m',
       '27m', '709m', '114m', '127m', '602m', '861m', '68m', '275m',
       '469m', '124m', '613m', '6m', '408m', '20m', '993m', '322m',
       '850m', '224m', '419m', '217m', '209m', '130m', '288m', '239m',
       '634m', '8m', '636m', '655m', '375m', '43m', '50m', '108m', '347m',
       '280m', '149m', '569m', '711m', '779m', '202m', '572m', '265m',
       '436m', '223m', '245m', '170m', '534m', '62m', '362m', '610m',
       '24m', '276m', '5m', '80m', '348m', '431m', '902m', '717m', '196m',
       '935m', '671m', '438m', '780m', '243m', '884m', '584m', '898m',
       '643m', '145m', '11m', '504m', '109m', '180m', '199m', '182m',
       '173m', '231m', '352m', '351m', '250m', '60m', '765m', '353m',
       '179m', '674m', '576m', '115m', '435m', '440m', '257m', '713m',
       '719m', '796m', '860m', '339m', '164m', '523m', '367m', '167m',
       '329m', '370m', '476m', '585m', '571m', '641m', '71m', '역', '13m',
       '845m', '260m', '360m', '612m', '573m', '4m', '338m', '310m',
       '98m', '139m', '106m', '105m', '263m', '7m', '562m', '67m', '725m',
       '160m', '732m', '715m', '363m', '741m', '479m', '137m', '503m',
       '865m', '441m', '412m', '89m', '113m', '422m', '357m', '123m',
       '432m', '57m', '400m', '716m', '331m', '350m', '212m', '445m',
       '449m', '874m', '426m', '264m', '86m', '72m', '240m', '530m',
       '195m', '896m', '897m', '593m', '429m', '55m', '705m', '939m',
       '844m', '753m', '992m', '208m', '417m', '490m', '749m', '306m',
       '207m', '491m', '484m', '399m', '39m', '592m', '385m', '296m',
       '721m', '685m', '378m', '577m', '474m', '663m', '343m', '757m',
       '623m', '890m', '44m', '248m', '237m', '579m', '591m', '70m',
       '559m', '386m', '176m', '603m', '703m', '64m', '163m', '420m',
       '544m', '488m', '545m', '424m', '142m', '618m', '379m', '667m',
       '58m', '321m', '609m', '886m', '460m', '604m', '923m', '951m',
       '393m', '856m', '162m', '53m', '651m', '933m', '233m', '314m',
       '514m', '683m', '204m', '686m', '374m', '778m', '411m', '69m',
       '511m', '672m', '409m', '883m', '230m', '234m', '633m', '568m',
       '365m', '178m', '340m', '235m', '858m', '949m', '868m', '311m',
       '185m', '457m', '94m', '246m', '222m', '840m', '481m', '226m',
       '536m', '175m', '515m', '42m', '323m', '595m', '166m', '65m',
       '888m', '566m', '620m', '327m', '837m', '387m', '582m', '512m',
       '33m', '376m', '486m', '929m', '266m', '464m', '759m', '505m',
       '694m', '121m', '451m', '570m', '575m', '398m', '315m', '356m',
       '598m', '452m', '349m', '41m', '922m', '907m', '165m', '334m',
       '773m', '74m', '608m', '900m', '63m', '493m', '501m', '551m',
       '131m', '882m', '28m', '368m', '152m', '864m', '646m', '675m',
       '384m', '532m', '332m', '892m', '554m', '893m', '816m', '910m',
       '580m', '548m', '665m', '453m', '614m', '91m', '744m', '494m',
       '48m', '171m', '392m', '583m', '461m', '637m', '34m', '51m',
       '390m', '107m', '804m', '102m', '286m', '38m', '359m', '489m',
       '878m', '989m', '285m', '786m', '943m', '81m', '2m', '763m',
       '341m', '677m', '129m', '820m', '769m', '967m', '526m', '664m',
       '318m', '793m', '828m', '477m', '853m', '843m', '846m', '831m',
       '335m', '252m', '455m', '404m', '695m', '259m', '649m', '502m',
       '361m', '355m', '482m', '983m', '549m', '83m', '801m', '12m',
       '791m', '617m', '3m', '684m', '172m', '383m', '811m', '982m',
       '619m', '740m', '433m', '509m', '273m', '936m', '294m', '899m',
       '855m', '587m', '648m', '211m', '73m', '622m', '54m', '345m',
       '632m', '782m', '336m', '303m', '693m', '978m', '891m', '219m',
       '958m', '253m', '954m', '938m', '525m', '242m', '594m', '241m',
       '800m', '305m', '981m', '625m', '818m', '700m', '676m', '274m',
       '125m', '624m', '670m', '516m', '707m', '742m', '406m', '169m',
       '206m', '31m', '628m', '872m', '320m', '247m', '821m', '423m',
       '344m', '970m', '720m', '18m', '371m', '485m', '973m', '279m',
       '727m', '528m', '506m', '738m', '873m', '904m', '567m', '158m',
       '965m', '601m', '381m', '30m', '407m', '640m', '926m', '931m',
       '673m', '948m', '788m', '669m', '543m', '937m', '706m', '565m',
       '934m', '605m', '564m', '588m', '174m', '267m', '758m', '736m',
       '459m', '499m', '32m', '600m', '642m', '789m', '447m', '785m',
       '586m', '626m', '146m', '808m', '987m', '735m', '824m', '557m',
       '985m', '833m', '766m', '879m', '507m', '718m', '969m', '917m',
       '627m', '971m', '380m', '955m', '986m', '733m', '761m', '87m',
       '268m', '537m', '679m', '194m', '819m', '977m', '959m', '863m',
       '354m', '848m', '647m', '810m', '979m', '834m', '656m', '631m',
       '869m', '299m', '443m', '754m', '659m', '994m', '639m', '78m',
       '771m', '963m', '691m', '794m', '581m', '533m', '803m', '37m',
       '688m', '802m', '838m', '839m', '724m', '746m', '151m', '325m',
       '524m', '901m', '776m', '662m', '687m', '770m', '812m', '787m',
       '847m', '680m', '835m', '654m', '903m', '558m', '413m', '795m',
       '998m', '611m', '870m', '747m', '836m', '681m', '414m', '678m',
       '606m', '919m', '126m', '739m', '996m', '690m', '714m', '960m',
       '975m', '968m', '885m', '520m', '653m', '630m', '652m', '877m',
       '815m', '826m', '925m', '825m', '1000m', '927m', '866m', '905m',
       '492m', '556m', '813m', '726m', '809m', '880m', '781m', '830m',
       '875m', '751m', '940m', '849m', '814m', '862m', '952m', '921m',
       '728m', '988m', '497m', '668m', '462m', '881m', '842m', '798m',
       '147m', '799m', '1m', '956m', '616m', '909m', '47m', '517m',
       '980m', '723m', '916m', '841m', '947m', '913m', '942m', '915m',
       '698m', '729m', '964m', '854m', '629m', '999m', '689m', '852m',
       '961m', '946m', '774m', '730m', '871m', '990m'], dtype=object)

In [ ]:
# unique 부분을 보니 역이라는 걸 잘못 불러온 게 존재함 => 전처리로 제거하거나 직접 입력하기
df[df['station_distance']=='역']

,name,search_name,address,road_address,near_station,station_distance,total_review,"""커피가 맛있어요""","""친절해요""","""음료가 맛있어요""",...,"""대화하기 좋아요""","""집중하기 좋아요""","""인테리어가 멋져요""","""좌석이 편해요""","""화장실이 깨끗해요""","""특별한 메뉴가 있어요""","""가성비가 좋아요""","""뷰가 좋아요""","""주차하기 편해요""","""사진이 잘 나와요"""
717,스타벅스 광화문우체국점,스타벅스 광화문우체국점,서린동,서울 종로구 종로 6,12시청역,역,1561,7.0,3.0,1.0,...,4.0,96.0,88.0,78.0,50.0,51.0,60.0,38.0,2.0,22.0
2357,모닝그루브,모닝그루브,성내동,서울 강동구 천호대로 1116 라이저 강동빌딩 1층 103호,5둔촌동역,역,131,60.0,36.0,24.0,...,20.0,12.0,16.0,19.0,4.0,11.0,7.0,1.0,4.0,2.0
2681,스타벅스 선유도역1번출구점,스타벅스 선유도역 1번출구점,양평동5가,서울 영등포구 양평로 128,9선유도역,역,1028,4.0,9.0,7.0,...,94.0,85.0,65.0,70.0,33.0,24.0,24.0,24.0,2.0,16.0
3104,공간다반사,공간다반사,당산동6가,서울 영등포구 선유로55길 3 1층,29당산역,역,196,86.0,58.0,59.0,...,30.0,16.0,79.0,9.0,1.0,10.0,14.0,26.0,0.0,32.0

In [ ]:
# unique 부분을 보니 역이라는 걸 잘못 불러온 게 존재함 => 전처리로 제거하거나 직접 입력하기
df[df['station_distance']=='역'].index

Int64Index([717, 2357, 2681, 3104], dtype='int64')

In [ ]:
# 직접 검색해서 값 채우기
df['station_distance'][717] = '78m'
df['station_distance'][2357] = '238m'
df['station_distance'][2681] = '5m'
df['station_distance'][3104] = '510m'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
# 제대로 수정되었는지 확인
df['station_distance'].unique()

array(['427m', '119m', '157m', '324m', '228m', '200m', '156m', '333m',
       '203m', nan, '650m', '232m', '95m', '220m', '496m', '395m', '56m',
       '547m', '153m', '186m', '405m', '159m', '198m', '498m', '466m',
       '535m', '807m', '100m', '183m', '101m', '77m', '79m', '148m',
       '181m', '29m', '14m', '188m', '599m', '76m', '99m', '425m', '889m',
       '330m', '475m', '941m', '118m', '25m', '292m', '307m', '369m',
       '154m', '221m', '141m', '134m', '495m', '389m', '177m', '702m',
       '560m', '293m', '84m', '317m', '468m', '437m', '373m', '403m',
       '471m', '500m', '805m', '541m', '513m', '456m', '745m', '552m',
       '326m', '111m', '578m', '555m', '15m', '300m', '358m', '297m',
       '227m', '75m', '372m', '434m', '518m', '421m', '767m', '312m',
       '574m', '291m', '401m', '256m', '308m', '342m', '192m', '829m',
       '187m', '140m', '23m', '458m', '444m', '710m', '132m', '309m',
       '597m', '661m', '295m', '666m', '150m', '135m', '911m', '35m',
       '49m', '364m', '19m', '750m', '930m', '660m', '396m', '510m',
       '748m', '448m', '391m', '708m', '10m', '430m', '120m', '104m',
       '418m', '97m', '258m', '282m', '920m', '561m', '410m', '467m',
       '752m', '764m', '638m', '22m', '52m', '402m', '184m', '635m',
       '388m', '255m', '442m', '563m', '553m', '103m', '210m', '190m',
       '281m', '997m', '110m', '93m', '615m', '529m', '21m', '316m',
       '775m', '416m', '976m', '59m', '508m', '201m', '974m', '112m',
       '229m', '415m', '519m', '550m', '397m', '337m', '539m', '366m',
       '155m', '283m', '737m', '128m', '36m', '644m', '236m', '218m',
       '298m', '116m', '823m', '144m', '319m', '682m', '522m', '225m',
       '546m', '85m', '168m', '302m', '887m', '531m', '249m', '346m',
       '699m', '90m', '88m', '657m', '244m', '527m', '762m', '272m',
       '189m', '768m', '138m', '238m', '827m', '784m', '45m', '487m',
       '213m', '301m', '538m', '26m', '197m', '251m', '446m', '521m',
       '704m', '287m', '16m', '590m', '122m', '454m', '269m', '66m',
       '313m', '596m', '540m', '61m', '278m', '96m', '205m', '473m',
       '117m', '17m', '470m', '483m', '428m', '607m', '722m', '271m',
       '542m', '465m', '289m', '143m', '480m', '658m', '133m', '277m',
       '450m', '290m', '478m', '743m', '40m', '136m', '193m', '867m',
       '328m', '161m', '215m', '696m', '589m', '262m', '463m', '394m',
       '216m', '472m', '191m', '692m', '377m', '214m', '92m', '270m',
       '9m', '772m', '645m', '261m', '304m', '82m', '621m', '254m',
       '284m', '701m', '382m', '734m', '46m', '697m', '755m', '439m',
       '27m', '709m', '114m', '127m', '602m', '861m', '68m', '275m',
       '469m', '124m', '613m', '6m', '408m', '20m', '993m', '322m',
       '850m', '224m', '419m', '217m', '209m', '130m', '288m', '239m',
       '634m', '8m', '636m', '655m', '375m', '43m', '50m', '108m', '347m',
       '280m', '149m', '569m', '711m', '779m', '202m', '572m', '265m',
       '436m', '223m', '245m', '170m', '534m', '62m', '362m', '610m',
       '24m', '276m', '5m', '80m', '348m', '431m', '902m', '717m', '196m',
       '935m', '671m', '438m', '780m', '243m', '884m', '584m', '898m',
       '643m', '145m', '11m', '504m', '109m', '180m', '199m', '182m',
       '173m', '231m', '352m', '351m', '250m', '60m', '765m', '353m',
       '179m', '674m', '576m', '115m', '435m', '440m', '257m', '713m',
       '719m', '796m', '860m', '339m', '164m', '523m', '367m', '167m',
       '329m', '370m', '476m', '585m', '571m', '641m', '71m', '78m',
       '13m', '845m', '260m', '360m', '612m', '573m', '4m', '338m',
       '310m', '98m', '139m', '106m', '105m', '263m', '7m', '562m', '67m',
       '725m', '160m', '732m', '715m', '363m', '741m', '479m', '137m',
       '503m', '865m', '441m', '412m', '89m', '113m', '422m', '357m',
       '123m', '432m', '57m', '400m', '716m', '331m', '350m', '212m',
       '445m', '449m', '874m', '426m', '264m', '86m', '72m', '240m',
       '530m', '195m', '896m', '897m', '593m', '429m', '55m', '705m',
       '939m', '844m', '753m', '992m', '208m', '417m', '490m', '749m',
       '306m', '207m', '491m', '484m', '399m', '39m', '592m', '385m',
       '296m', '721m', '685m', '378m', '577m', '474m', '663m', '343m',
       '757m', '623m', '890m', '44m', '248m', '237m', '579m', '591m',
       '70m', '559m', '386m', '176m', '603m', '703m', '64m', '163m',
       '420m', '544m', '488m', '545m', '424m', '142m', '618m', '379m',
       '667m', '58m', '321m', '609m', '886m', '460m', '604m', '923m',
       '951m', '393m', '856m', '162m', '53m', '651m', '933m', '233m',
       '314m', '514m', '683m', '204m', '686m', '374m', '778m', '411m',
       '69m', '511m', '672m', '409m', '883m', '230m', '234m', '633m',
       '568m', '365m', '178m', '340m', '235m', '858m', '949m', '868m',
       '311m', '185m', '457m', '94m', '246m', '222m', '840m', '481m',
       '226m', '536m', '175m', '515m', '42m', '323m', '595m', '166m',
       '65m', '888m', '566m', '620m', '327m', '837m', '387m', '582m',
       '512m', '33m', '376m', '486m', '929m', '266m', '464m', '759m',
       '505m', '694m', '121m', '451m', '570m', '575m', '398m', '315m',
       '356m', '598m', '452m', '349m', '41m', '922m', '907m', '165m',
       '334m', '773m', '74m', '608m', '900m', '63m', '493m', '501m',
       '551m', '131m', '882m', '28m', '368m', '152m', '864m', '646m',
       '675m', '384m', '532m', '332m', '892m', '554m', '893m', '816m',
       '910m', '580m', '548m', '665m', '453m', '614m', '91m', '744m',
       '494m', '48m', '171m', '392m', '583m', '461m', '637m', '34m',
       '51m', '390m', '107m', '804m', '102m', '286m', '38m', '359m',
       '489m', '878m', '989m', '285m', '786m', '943m', '81m', '2m',
       '763m', '341m', '677m', '129m', '820m', '769m', '967m', '526m',
       '664m', '318m', '793m', '828m', '477m', '853m', '843m', '846m',
       '831m', '335m', '252m', '455m', '404m', '695m', '259m', '649m',
       '502m', '361m', '355m', '482m', '983m', '549m', '83m', '801m',
       '12m', '791m', '617m', '3m', '684m', '172m', '383m', '811m',
       '982m', '619m', '740m', '433m', '509m', '273m', '936m', '294m',
       '899m', '855m', '587m', '648m', '211m', '73m', '622m', '54m',
       '345m', '632m', '782m', '336m', '303m', '693m', '978m', '891m',
       '219m', '958m', '253m', '954m', '938m', '525m', '242m', '594m',
       '241m', '800m', '305m', '981m', '625m', '818m', '700m', '676m',
       '274m', '125m', '624m', '670m', '516m', '707m', '742m', '406m',
       '169m', '206m', '31m', '628m', '872m', '320m', '247m', '821m',
       '423m', '344m', '970m', '720m', '18m', '371m', '485m', '973m',
       '279m', '727m', '528m', '506m', '738m', '873m', '904m', '567m',
       '158m', '965m', '601m', '381m', '30m', '407m', '640m', '926m',
       '931m', '673m', '948m', '788m', '669m', '543m', '937m', '706m',
       '565m', '934m', '605m', '564m', '588m', '174m', '267m', '758m',
       '736m', '459m', '499m', '32m', '600m', '642m', '789m', '447m',
       '785m', '586m', '626m', '146m', '808m', '987m', '735m', '824m',
       '557m', '985m', '833m', '766m', '879m', '507m', '718m', '969m',
       '917m', '627m', '971m', '380m', '955m', '986m', '733m', '761m',
       '87m', '268m', '537m', '679m', '194m', '819m', '977m', '959m',
       '863m', '354m', '848m', '647m', '810m', '979m', '834m', '656m',
       '631m', '869m', '299m', '443m', '754m', '659m', '994m', '639m',
       '771m', '963m', '691m', '794m', '581m', '533m', '803m', '37m',
       '688m', '802m', '838m', '839m', '724m', '746m', '151m', '325m',
       '524m', '901m', '776m', '662m', '687m', '770m', '812m', '787m',
       '847m', '680m', '835m', '654m', '903m', '558m', '413m', '795m',
       '998m', '611m', '870m', '747m', '836m', '681m', '414m', '678m',
       '606m', '919m', '126m', '739m', '996m', '690m', '714m', '960m',
       '975m', '968m', '885m', '520m', '653m', '630m', '652m', '877m',
       '815m', '826m', '925m', '825m', '1000m', '927m', '866m', '905m',
       '492m', '556m', '813m', '726m', '809m', '880m', '781m', '830m',
       '875m', '751m', '940m', '849m', '814m', '862m', '952m', '921m',
       '728m', '988m', '497m', '668m', '462m', '881m', '842m', '798m',
       '147m', '799m', '1m', '956m', '616m', '909m', '47m', '517m',
       '980m', '723m', '916m', '841m', '947m', '913m', '942m', '915m',
       '698m', '729m', '964m', '854m', '629m', '999m', '689m', '852m',
       '961m', '946m', '774m', '730m', '871m', '990m'], dtype=object)

In [ ]:
# 전부 m 단위여서 m을 제거해 변수명에 추가하고, integer로 바꾸기
df["station_distance"] = df["station_distance"].str.replace(pat='m', repl=r'', regex=True)

In [ ]:
# 제대로 수정되었는지 확인
df['station_distance'].unique()

array(['427', '119', '157', '324', '228', '200', '156', '333', '203', nan,
       '650', '232', '95', '220', '496', '395', '56', '547', '153', '186',
       '405', '159', '198', '498', '466', '535', '807', '100', '183',
       '101', '77', '79', '148', '181', '29', '14', '188', '599', '76',
       '99', '425', '889', '330', '475', '941', '118', '25', '292', '307',
       '369', '154', '221', '141', '134', '495', '389', '177', '702',
       '560', '293', '84', '317', '468', '437', '373', '403', '471',
       '500', '805', '541', '513', '456', '745', '552', '326', '111',
       '578', '555', '15', '300', '358', '297', '227', '75', '372', '434',
       '518', '421', '767', '312', '574', '291', '401', '256', '308',
       '342', '192', '829', '187', '140', '23', '458', '444', '710',
       '132', '309', '597', '661', '295', '666', '150', '135', '911',
       '35', '49', '364', '19', '750', '930', '660', '396', '510', '748',
       '448', '391', '708', '10', '430', '120', '104', '418', '97', '258',
       '282', '920', '561', '410', '467', '752', '764', '638', '22', '52',
       '402', '184', '635', '388', '255', '442', '563', '553', '103',
       '210', '190', '281', '997', '110', '93', '615', '529', '21', '316',
       '775', '416', '976', '59', '508', '201', '974', '112', '229',
       '415', '519', '550', '397', '337', '539', '366', '155', '283',
       '737', '128', '36', '644', '236', '218', '298', '116', '823',
       '144', '319', '682', '522', '225', '546', '85', '168', '302',
       '887', '531', '249', '346', '699', '90', '88', '657', '244', '527',
       '762', '272', '189', '768', '138', '238', '827', '784', '45',
       '487', '213', '301', '538', '26', '197', '251', '446', '521',
       '704', '287', '16', '590', '122', '454', '269', '66', '313', '596',
       '540', '61', '278', '96', '205', '473', '117', '17', '470', '483',
       '428', '607', '722', '271', '542', '465', '289', '143', '480',
       '658', '133', '277', '450', '290', '478', '743', '40', '136',
       '193', '867', '328', '161', '215', '696', '589', '262', '463',
       '394', '216', '472', '191', '692', '377', '214', '92', '270', '9',
       '772', '645', '261', '304', '82', '621', '254', '284', '701',
       '382', '734', '46', '697', '755', '439', '27', '709', '114', '127',
       '602', '861', '68', '275', '469', '124', '613', '6', '408', '20',
       '993', '322', '850', '224', '419', '217', '209', '130', '288',
       '239', '634', '8', '636', '655', '375', '43', '50', '108', '347',
       '280', '149', '569', '711', '779', '202', '572', '265', '436',
       '223', '245', '170', '534', '62', '362', '610', '24', '276', '5',
       '80', '348', '431', '902', '717', '196', '935', '671', '438',
       '780', '243', '884', '584', '898', '643', '145', '11', '504',
       '109', '180', '199', '182', '173', '231', '352', '351', '250',
       '60', '765', '353', '179', '674', '576', '115', '435', '440',
       '257', '713', '719', '796', '860', '339', '164', '523', '367',
       '167', '329', '370', '476', '585', '571', '641', '71', '78', '13',
       '845', '260', '360', '612', '573', '4', '338', '310', '98', '139',
       '106', '105', '263', '7', '562', '67', '725', '160', '732', '715',
       '363', '741', '479', '137', '503', '865', '441', '412', '89',
       '113', '422', '357', '123', '432', '57', '400', '716', '331',
       '350', '212', '445', '449', '874', '426', '264', '86', '72', '240',
       '530', '195', '896', '897', '593', '429', '55', '705', '939',
       '844', '753', '992', '208', '417', '490', '749', '306', '207',
       '491', '484', '399', '39', '592', '385', '296', '721', '685',
       '378', '577', '474', '663', '343', '757', '623', '890', '44',
       '248', '237', '579', '591', '70', '559', '386', '176', '603',
       '703', '64', '163', '420', '544', '488', '545', '424', '142',
       '618', '379', '667', '58', '321', '609', '886', '460', '604',
       '923', '951', '393', '856', '162', '53', '651', '933', '233',
       '314', '514', '683', '204', '686', '374', '778', '411', '69',
       '511', '672', '409', '883', '230', '234', '633', '568', '365',
       '178', '340', '235', '858', '949', '868', '311', '185', '457',
       '94', '246', '222', '840', '481', '226', '536', '175', '515', '42',
       '323', '595', '166', '65', '888', '566', '620', '327', '837',
       '387', '582', '512', '33', '376', '486', '929', '266', '464',
       '759', '505', '694', '121', '451', '570', '575', '398', '315',
       '356', '598', '452', '349', '41', '922', '907', '165', '334',
       '773', '74', '608', '900', '63', '493', '501', '551', '131', '882',
       '28', '368', '152', '864', '646', '675', '384', '532', '332',
       '892', '554', '893', '816', '910', '580', '548', '665', '453',
       '614', '91', '744', '494', '48', '171', '392', '583', '461', '637',
       '34', '51', '390', '107', '804', '102', '286', '38', '359', '489',
       '878', '989', '285', '786', '943', '81', '2', '763', '341', '677',
       '129', '820', '769', '967', '526', '664', '318', '793', '828',
       '477', '853', '843', '846', '831', '335', '252', '455', '404',
       '695', '259', '649', '502', '361', '355', '482', '983', '549',
       '83', '801', '12', '791', '617', '3', '684', '172', '383', '811',
       '982', '619', '740', '433', '509', '273', '936', '294', '899',
       '855', '587', '648', '211', '73', '622', '54', '345', '632', '782',
       '336', '303', '693', '978', '891', '219', '958', '253', '954',
       '938', '525', '242', '594', '241', '800', '305', '981', '625',
       '818', '700', '676', '274', '125', '624', '670', '516', '707',
       '742', '406', '169', '206', '31', '628', '872', '320', '247',
       '821', '423', '344', '970', '720', '18', '371', '485', '973',
       '279', '727', '528', '506', '738', '873', '904', '567', '158',
       '965', '601', '381', '30', '407', '640', '926', '931', '673',
       '948', '788', '669', '543', '937', '706', '565', '934', '605',
       '564', '588', '174', '267', '758', '736', '459', '499', '32',
       '600', '642', '789', '447', '785', '586', '626', '146', '808',
       '987', '735', '824', '557', '985', '833', '766', '879', '507',
       '718', '969', '917', '627', '971', '380', '955', '986', '733',
       '761', '87', '268', '537', '679', '194', '819', '977', '959',
       '863', '354', '848', '647', '810', '979', '834', '656', '631',
       '869', '299', '443', '754', '659', '994', '639', '771', '963',
       '691', '794', '581', '533', '803', '37', '688', '802', '838',
       '839', '724', '746', '151', '325', '524', '901', '776', '662',
       '687', '770', '812', '787', '847', '680', '835', '654', '903',
       '558', '413', '795', '998', '611', '870', '747', '836', '681',
       '414', '678', '606', '919', '126', '739', '996', '690', '714',
       '960', '975', '968', '885', '520', '653', '630', '652', '877',
       '815', '826', '925', '825', '1000', '927', '866', '905', '492',
       '556', '813', '726', '809', '880', '781', '830', '875', '751',
       '940', '849', '814', '862', '952', '921', '728', '988', '497',
       '668', '462', '881', '842', '798', '147', '799', '1', '956', '616',
       '909', '47', '517', '980', '723', '916', '841', '947', '913',
       '942', '915', '698', '729', '964', '854', '629', '999', '689',
       '852', '961', '946', '774', '730', '871', '990'], dtype=object)

In [ ]:
# 저장하기
df.to_csv('naver_cafe_all.csv',index=False)

### 의미없는 행 제거

In [ ]:
# 불러오기
df = pd.read_csv('naver_cafe_all.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8091 entries, 0 to 8090
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              8091 non-null   object
 1   search_name       8091 non-null   object
 2   address           8091 non-null   object
 3   road_address      7258 non-null   object
 4   near_station      7258 non-null   object
 5   station_distance  7258 non-null   float64
 6   total_review      8091 non-null   int64
 7   "커피가 맛있어요"        8091 non-null   float64
 8   "친절해요"            8091 non-null   float64
 9   "음료가 맛있어요"        8091 non-null   float64
 10  "디저트가 맛있어요"       8091 non-null   float64
 11  "매장이 청결해요"        8091 non-null   float64
 12  "대화하기 좋아요"        8091 non-null   float64
 13  "집중하기 좋아요"        8091 non-null   float64
 14  "인테리어가 멋져요"       8091 non-null   float64
 15  "좌석이 편해요"         8091 non-null   float64
 16  "화장실이 깨끗해요"       8091 non-null   float64
 17  "특별한 메뉴가 있어요"     8091 non-null   float64
 18  "가성비가 좋아요"        8091 non-null   float64
 19  "뷰가 좋아요"          8091 non-null   float64
 20  "주차하기 편해요"        8091 non-null   float64
 21  "사진이 잘 나와요"       8091 non-null   float64
dtypes: float64(16), int64(1), object(5)
memory usage: 1.4+ MB

In [ ]:
# 승주가 부탁한 작업 진행
df['cafe'] = df['name'] + ' '+ df['address']

In [ ]:
df['cafe'].head()

0                    버블베어 방화동
1    커피빈코리아낙성대역점 코리아낙성대역점 봉천동
2                   노란고무줄 대치동
3                     커피랩 서교동
4           커핀그루나루신천점 신천점 잠실동
Name: cafe, dtype: object

In [ ]:
last_ref  = pd.read_csv('/content/drive/MyDrive/modeling/publicdata_cafe_lastdrop.csv')

In [ ]:
# 아 왜 안된다 생각했는데 역시 띄어쓰기가 되어있었네...
last_ref['cafe'].head()

0    커피빈 코리아대학로대명거리점 명륜4가
1           요거프레소 쌍문점 쌍문동
2               우성커피숍 신월동
3                버블베어 방화동
4                 알뤼르 대치동
Name: cafe, dtype: object

In [ ]:
df['address'].unique()

array(['방화동', '봉천동', '대치동', '서교동', '잠실동', '가산동', '서초동', '도곡동', '신길동',
       '여의도동', '청담동', '역삼동', '동숭동', '신내동', '성산동', '구기동', '목동', '창천동',
       '사당동', '신림동', '양재동', '망원동', '진관동', '석관동', '행당동', '화곡동', '미아동',
       '부암동', '성수동2가', '당산동6가', '군자동', '평창동', '동자동', '신설동', '신사동',
       '광희동2가', '종암동', '개봉동', '내발산동', '월계동', '안암동5가', '문래동3가', '신수동',
       '잠원동', '삼성동', '대방동', '충정로3가', '무악동', '신문로2가', '반포동', '일원동',
       '한강로2가', '방배동', '가락동', '천호동', '양평동4가', '논현동', '연희동', '누하동', '자양동',
       '등촌동', '장충동2가', '화양동', '정릉동', '도화동', '구로동', '수유동', '중학동', '문정동',
       '이촌동', '방이동', '관수동', '흑석동', '염리동', '개포동', '동빙고동', '냉천동', '동교동',
       '안국동', '갈현동', '연남동', '성수동1가', '남창동', '상계동', '후암동', '홍제동', '시흥동',
       '소격동', '중곡동', '불광동', '신원동', '창동', '고척동', '중림동', '공릉동', '을지로2가',
       '길음동', '원효로1가', '합정동', '명륜1가', '만리동1가', '한남동', '순화동', '명동2가',
       '제기동', '신천동', '송파동', '문래동2가', '마곡동', '성내동', '신당동', '영등포동7가',
       '북가좌동', '답십리동', '용두동', '당산동4가', '장안동', '염창동', '길동', '미근동', '을지로6가',
       '충정로2가', '오금동', '광장동', '충무로1가', '이태원동', '쌍림동', '서소문동', '상암동',
       '용산동2가', '상수동', '회기동', '동선동1가', '영등포동4가', '세곡동', '충정로1가', '전농동',
       '거여동', '공덕동', '우면동', '종로5가', '원서동', '효자동', '세종로', '상도동', '중계동',
       '청파동2가', '영등포동8가', '장위동', '태평로2가', '충무로2가', '정동', '신월동', '신촌동',
       '성북동', '신정동', '방학동', '명륜4가', '번동', '명일동', '남현동', '신대방동', '문래동6가',
       '독산동', '창전동', '대흥동', '당산동1가', '을지로1가', '청진동', '남대문로5가', '갈월동',
       '소공동', '상일동', '한강로1가', '대현동', '계동', '영등포동3가', '내수동', '하월곡동', '석촌동',
       '가양동', '남가좌동', '암사동', '상도1동', '응암동', '아현동', '태평로1가', '관훈동', '자곡동',
       '명륜2가', '면목동', '역촌동', '수송동', '북창동', '관철동', '북아현동', '명동1가', '봉래동1가',
       '삼전동', '노량진동', '효창동', '용산동5가', '운니동', '망우동', '금호동4가', '저동1가',
       '당산동3가', '구의동', '쌍문동', '당주동', '누상동', '상봉동', '이화동', '종로6가', '돈의동',
       '마천동', '풍납동', '필동1가', '을지로3가', '양평동3가', '황학동', '서린동', '교북동', '마장동',
       '재동', '남산동2가', '만리동2가', '온수동', '공항동', '본동', '중화동', '둔촌동', '하계동',
       '대림동', '노고산동', '도봉동', '수서동', '금호동1가', '양평동5가', '휘경동', '종로4가',
       '인의동', '화동', '안암동1가', '신영동', '청파동3가', '고덕동', '신도림동', '충무로4가',
       '양평동2가', '예장동', '능동', '홍은동', '명륜3가', '필동3가', '동소문동3가', '장지동',
       '대조동', '보광동', '이문동', '오류동', '저동2가', '녹번동', '염곡동', '인사동', '익선동',
       '장사동', '개화동', '청량리동', '충무로5가', '용강동', '동소문동4가', '우이동', '흥인동',
       '공평동', '묵동', '혜화동', '신계동', '충무로3가', '한강로3가', '하왕십리동', '옥천동', '와룡동',
       '창신동', '상월곡동', '숭인동', '낙원동', '구산동', '궁동', '양평동6가', '신문로1가', '삼청동',
       '용답동', '원효로3가', '종로2가', '을지로7가', '필동2가', '가회동', '다동', '영등포동1가',
       '종로3가', '수색동', '동작동', '동선동2가', '보문동5가', '삼선동4가', '통의동', '산림동',
       '도림동', '남영동', '중동', '안암동2가', '수표동', '당산동2가', '항동', '을지로5가', '종로1가',
       '을지로4가', '홍익동', '동소문동1가', '장교동', '영등포동2가', '인현동2가', '도선동', '마포동',
       '수하동', '합동', '홍파동', '연지동', '대신동', '사근동', '용산동6가', '당산동', '체부동',
       '양평동1가', '당인동', '남대문로4가', '동선동4가', '증산동', '송정동', '금호동3가', '묵정동',
       '영등포동', '주교동', '영등포동6가', '삼선동5가', '적선동', '내자동', '서계동', '원지동',
       '강일동', '용산동1가', '초동', '천왕동', '예지동', '무교동', '용산동3가', '원효로2가', '옥수동',
       '신공덕동', '당산동5가', '보문동4가', '돈암동', '삼선동1가', '보문동2가', '오장동', '용문동',
       '행촌동', '인현동1가', '평동', '연건동', '천연동', '동소문동6가', '동선동3가', '창성동',
       '신창동', '옥인동', '사직동', '삼선동3가', '오쇠동', '견지동', '동소문동2가', '압구정동',
       '율현동', '필운동', '성북동1가', '보문동1가', '원남동', '금호동2가', '원효로4가', '봉래동2가',
       '통인동', '방산동', '남산동1가', '안암동4가', '장충동1가', '문래동1가', '안암동3가', '팔판동',
       '삼선동2가', '도원동', '봉익동', '홍지동', '회현동1가', '궁정동', '남산동3가', '청파동1가',
       '동선동5가', '청운동', '효제동', '동소문동7가', '삼각동', '응봉동', '보문동6가', '내곡동',
       '사간동', '묘동', '문래동4가', '양화동', '입정동', '무학동', '외발산동', '영등포동5가',
       '광희동1가', '회현동3가'], dtype=object)

In [ ]:
df.head()

,name,search_name,address,road_address,near_station,station_distance,total_review,"""커피가 맛있어요""","""친절해요""","""음료가 맛있어요""",...,"""집중하기 좋아요""","""인테리어가 멋져요""","""좌석이 편해요""","""화장실이 깨끗해요""","""특별한 메뉴가 있어요""","""가성비가 좋아요""","""뷰가 좋아요""","""주차하기 편해요""","""사진이 잘 나와요""",cafe
0,버블베어,버블베어,방화동,서울 강서구 금낭화로 167 방화8단지개화아파트,5방화역,427.0,18,7.0,5.0,5.0,...,0.0,0.0,1.0,2.0,2.0,0.0,0.0,1.0,0.0,버블베어 방화동
1,커피빈코리아낙성대역점 코리아낙성대역점,커피빈 낙성대역점,봉천동,"서울 관악구 남부순환로 1909 1,2층",2낙성대역,119.0,284,7.0,56.0,74.0,...,48.0,8.0,33.0,2.0,2.0,8.0,14.0,0.0,1.0,커피빈코리아낙성대역점 코리아낙성대역점 봉천동
2,노란고무줄,노란꼬무줄 선릉본점,대치동,서울 강남구 선릉로 424 1층5호 노란꼬무줄,2수인분당선릉역,157.0,134,40.0,14.0,61.0,...,0.0,1.0,0.0,0.0,21.0,33.0,0.0,1.0,0.0,노란고무줄 대치동
3,커피랩,커피랩,서교동,서울 마포구 와우산로29길 14,2공항경의중앙홍대입구역,324.0,100,76.0,23.0,13.0,...,10.0,19.0,2.0,6.0,10.0,4.0,5.0,0.0,4.0,커피랩 서교동
4,커핀그루나루신천점 신천점,커핀그루나루 신천점,잠실동,서울 송파구 올림픽로12길 8,2잠실새내역,228.0,140,64.0,14.0,31.0,...,7.0,2.0,15.0,5.0,5.0,6.0,3.0,0.0,1.0,커핀그루나루신천점 신천점 잠실동

In [ ]:
last_ref.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도,이름,cafe
0,20659878,커피빈,코리아대학로대명거리점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,서울특별시 종로구 대명길 25,110524,3078.0,NaN,3,NaN,127.000171,37.583149,커피빈 코리아대학로대명거리점,커피빈 코리아대학로대명거리점 명륜4가
1,20676428,요거프레소,쌍문점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,서울특별시 도봉구 도당로 7,132030,1385.0,NaN,1,NaN,127.034746,37.658728,요거프레소 쌍문점,요거프레소 쌍문점 쌍문동
2,28491095,우성커피숍,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,서울특별시 양천구 오목로 48,158090,8029.0,NaN,1,NaN,126.842935,37.522055,우성커피숍,우성커피숍 신월동
3,23260840,버블베어,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,서울특별시 강서구 금낭화로 167,157788,7509.0,NaN,1,NaN,126.813358,37.580941,버블베어,버블베어 방화동
4,22206830,알뤼르,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,서울특별시 강남구 삼성로85길 33,135280,6196.0,NaN,NaN,NaN,127.054731,37.504378,알뤼르,알뤼르 대치동

In [ ]:
# 이제 종류는 카페인데 그 카페를 잘못 가져온 경우만 전처리 진행하면 됨. # 근데 오히려 행의 수가 늘어났다??? 중복인 친구가 아직 있는듯..?
pd.merge(right = last_ref, left = df, on='cafe')['cafe']

,name,search_name,address,road_address,near_station,station_distance,total_review,"""커피가 맛있어요""","""친절해요""","""음료가 맛있어요""",...,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도,이름
0,버블베어,버블베어,방화동,서울 강서구 금낭화로 167 방화8단지개화아파트,5방화역,427.0,18,7.0,5.0,5.0,...,방화8단지개화아파트,서울특별시 강서구 금낭화로 167,157788,7509.0,NaN,1,NaN,126.813358,37.580941,버블베어
1,커피빈코리아낙성대역점 코리아낙성대역점,커피빈 낙성대역점,봉천동,"서울 관악구 남부순환로 1909 1,2층",2낙성대역,119.0,284,7.0,56.0,74.0,...,NaN,서울특별시 관악구 남부순환로 1909,151050,8742.0,NaN,1,NaN,126.961593,37.478106,커피빈코리아낙성대역점 코리아낙성대역점
2,노란고무줄,노란꼬무줄 선릉본점,대치동,서울 강남구 선릉로 424 1층5호 노란꼬무줄,2수인분당선릉역,157.0,134,40.0,14.0,61.0,...,NaN,서울특별시 강남구 선릉로 424,135280,6198.0,NaN,1,NaN,127.050045,37.502899,노란고무줄
3,커피랩,커피랩,서교동,서울 마포구 와우산로29길 14,2공항경의중앙홍대입구역,324.0,100,76.0,23.0,13.0,...,NaN,서울특별시 마포구 와우산로29길 14,121836,4052.0,NaN,1,NaN,126.929223,37.554964,커피랩
4,커핀그루나루신천점 신천점,커핀그루나루 신천점,잠실동,서울 송파구 올림픽로12길 8,2잠실새내역,228.0,140,64.0,14.0,31.0,...,제일빌딩,서울특별시 송파구 올림픽로12길 8,138220,5557.0,NaN,1,NaN,127.082767,37.510988,커핀그루나루신천점 신천점
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8093,커피나무 보라매역점,커피나무 보라매역점,신길동,서울 영등포구 여의대방로 135,7신림보라매역,44.0,219,0.0,40.0,38.0,...,NaN,서울특별시 영등포구 여의대방로 135,150842,7432.0,NaN,1,NaN,126.920045,37.499187,커피나무 보라매역점
8094,스노잉합정점 합정점,스노잉 합정점,합정동,서울 마포구 성지길 22,26합정역,140.0,48,21.0,17.0,11.0,...,NaN,서울특별시 마포구 성지길 22,121897,4071.0,NaN,1,NaN,126.913098,37.547717,스노잉합정점 합정점
8095,이디야커피 논골사거리점,이디야커피 논골사거리점,금호동1가,서울 성동구 난계로 35,5행당역,395.0,189,1.0,46.0,38.0,...,NaN,서울특별시 성동구 난계로 35,133800,4727.0,NaN,1,NaN,127.024466,37.555519,이디야커피 논골사거리점
8096,퍼블릭맨션,퍼블릭맨션,목동,서울 양천구 등촌로 154,9등촌역,825.0,27,17.0,13.0,9.0,...,NaN,서울특별시 양천구 등촌로 154,158050,7956.0,NaN,1,NaN,126.862576,37.543529,퍼블릭맨션
8097,이디야커피 굽은다리역점,이디야커피 굽은다리역점,천호동,서울 강동구 양재대로 1543 진주빌딩,5굽은다리역,227.0,65,28.0,20.0,12.0,...,진주빌딩,서울특별시 강동구 양재대로 1543,134020,5315.0,NaN,1,NaN,127.141847,37.543501,이디야커피 굽은다리역점

In [ ]:
## 다른 코드로 진행해보자
del_cafe = pd.read_csv('/content/drive/MyDrive/modeling/publicdata_deleted_cafe.csv')

for i in range(len(del_cafe)):
  df.drop(index = df[df['cafe']==del_cafe['cafe'][i]].index, inplace=True)
  print(len(df))

8090
8090
8090
8090
8089
8089
8088
8087
8086
8086
8086
8085
8085
8085
8085
8084
8084
8084
8083
8083
8082
8082
8081
8080
8079
8078
8077
8077
8077
8076
8076
8076
8076
8076
8076
8076
8076
8076
8076
8076
8076
8075
8075
8075
8074
8074
8073
8073
8072
8072
8072
8071
8071
8071
8071
8071
8071
8071
8071
8071
8071
8071
8070
8069
8068
8067
8067
8066
8066
8065
8064
8063
8062
8061
8061
8060
8060
8059
8059
8059
8058
8057
8057
8057
8057
8057
8057
8057
8057
8056
8056
8055
8055
8055
8054
8053
8053
8053
8053
8052
8051
8050
8049
8048
8047
8046
8046
8045
8044
8044
8043
8043
8042
8042
8042
8042
8042
8042
8042
8041
8041
8041
8040
8039
8038
8037
8036
8036
8035
8034
8034
8033
8033
8032
8031
8030
8029
8028
8027
8027
8026
8025
8024
8023
8022
8022
8022
8022
8021
8021
8020
8020
8019
8019
8019
8018
8017
8016
8015
8014
8014
8014
8013
8013
8013
8013
8012
8011
8010
8010
8010
8009
8008
8008
8007
8006

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8006 entries, 0 to 8090
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              8006 non-null   object
 1   search_name       8006 non-null   object
 2   address           8006 non-null   object
 3   road_address      7179 non-null   object
 4   near_station      7179 non-null   object
 5   station_distance  7179 non-null   float64
 6   total_review      8006 non-null   int64
 7   "커피가 맛있어요"        8006 non-null   float64
 8   "친절해요"            8006 non-null   float64
 9   "음료가 맛있어요"        8006 non-null   float64
 10  "디저트가 맛있어요"       8006 non-null   float64
 11  "매장이 청결해요"        8006 non-null   float64
 12  "대화하기 좋아요"        8006 non-null   float64
 13  "집중하기 좋아요"        8006 non-null   float64
 14  "인테리어가 멋져요"       8006 non-null   float64
 15  "좌석이 편해요"         8006 non-null   float64
 16  "화장실이 깨끗해요"       8006 non-null   float64
 17  "특별한 메뉴가 있어요"     8006 non-null   float64
 18  "가성비가 좋아요"        8006 non-null   float64
 19  "뷰가 좋아요"          8006 non-null   float64
 20  "주차하기 편해요"        8006 non-null   float64
 21  "사진이 잘 나와요"       8006 non-null   float64
 22  cafe              8006 non-null   object
dtypes: float64(16), int64(1), object(6)
memory usage: 1.5+ MB

## 네이버지도와 원래 데이터셋의 주소 비교 (실제 장소도 같은 카페인가)

In [ ]:
# csv 파일 저장

# df.to_csv('naver_processed.csv', index= False)

In [ ]:
df = pd.read_csv('naver_preprocessed.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7960 entries, 0 to 7959
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7960 non-null   int64
 1   name              7960 non-null   object
 2   search_name       7960 non-null   object
 3   address           7960 non-null   object
 4   road_address      7142 non-null   object
 5   near_station      7142 non-null   object
 6   station_distance  7142 non-null   float64
 7   total_review      7960 non-null   int64
 8   "커피가 맛있어요"        7960 non-null   float64
 9   "친절해요"            7960 non-null   float64
 10  "음료가 맛있어요"        7960 non-null   float64
 11  "디저트가 맛있어요"       7960 non-null   float64
 12  "매장이 청결해요"        7960 non-null   float64
 13  "대화하기 좋아요"        7960 non-null   float64
 14  "집중하기 좋아요"        7960 non-null   float64
 15  "인테리어가 멋져요"       7960 non-null   float64
 16  "좌석이 편해요"         7960 non-null   float64
 17  "화장실이 깨끗해요"       7960 non-null   float64
 18  "특별한 메뉴가 있어요"     7960 non-null   float64
 19  "가성비가 좋아요"        7960 non-null   float64
 20  "뷰가 좋아요"          7960 non-null   float64
 21  "주차하기 편해요"        7960 non-null   float64
 22  "사진이 잘 나와요"       7960 non-null   float64
 23  cafe              7960 non-null   object
dtypes: float64(16), int64(2), object(6)
memory usage: 1.5+ MB

In [ ]:
df['cafe'].nunique()

7960

In [ ]:
df['cafe'].value_counts()[:45]

8006개 중 7960개의 'cafe' 값들이 있으니 value_counts로 46개를 봐보자.

In [ ]:
# 중복되는 이름을 가지고 for 문을 돌려볼까?
idx_cafe_nonuniq = df['cafe'].value_counts()[:45].index
print(df[df['cafe'] == idx_cafe_nonuniq[0]])

In [ ]:
df.loc[:,['name','search_name']]

                      name   search_name
0                     버블베어          버블베어
1     커피빈코리아낙성대역점 코리아낙성대역점     커피빈 낙성대역점
2                    노란고무줄    노란꼬무줄 선릉본점
3                      커피랩           커피랩
4            커핀그루나루신천점 신천점    커핀그루나루 신천점
...                    ...           ...
8001            커피나무 보라매역점    커피나무 보라매역점
8002            스노잉합정점 합정점       스노잉 합정점
8003          이디야커피 논골사거리점  이디야커피 논골사거리점
8004                 퍼블릭맨션         퍼블릭맨션
8005          이디야커피 굽은다리역점  이디야커피 굽은다리역점

[8006 rows x 2 columns]

In [ ]:
# 이 경우 전부 동일한 카페가 뽑힌 것을 알 수 있음 => 전부 하나만 남기기

for i in range(45):
    print(df.loc[:,['cafe','search_name','road_address']][df['cafe'] == idx_cafe_nonuniq[i]])

          cafe search_name           road_address
1040  커피바이 잠실동   커피바이 로스터스  서울 송파구 백제고분로17길 56 2층
6737  커피바이 잠실동   커피바이 로스터스  서울 송파구 백제고분로17길 56 2층
7311  커피바이 잠실동   커피바이 로스터스  서울 송파구 백제고분로17길 56 2층
                    cafe   search_name    road_address
5614  스타벅스 고대안암병원점 안암동5가  스타벅스 고대안암병원점  서울 성북구 고려대로 73
7882  스타벅스 고대안암병원점 안암동5가  스타벅스 고대안암병원점  서울 성북구 고려대로 73
            cafe search_name            road_address
167   카페조이 성수동2가        카페조이  서울 성동구 아차산로11길 11 105호
1546  카페조이 성수동2가        카페조이  서울 성동구 아차산로11길 11 105호
         cafe search_name       road_address
406  심플커피 장위동   심플커피 장위본점  서울 성북구 돌곶이로25길 85
789  심플커피 장위동   심플커피 장위본점  서울 성북구 돌곶이로25길 85
             cafe search_name road_address
35    드롭오가닉커피 부암동   드롭 오가닉 커피          NaN
5352  드롭오가닉커피 부암동   드롭 오가닉 커피          NaN
         cafe search_name road_address
5384  노아스 연희동  노아스로스팅 연희점          NaN
5534  노아스 연희동  노아스로스팅 연희점          NaN
           cafe search_name              road_address
1849  카페루루 노량진동        카페루루  서울 동작구 등용로14길 81 1층 LULU
7630  카페루루 노량진동        카페루루  서울 동작구 등용로14길 81 1층 LULU
        cafe search_name road_address
2720  라트 중계동        라트커피          NaN
5683  라트 중계동        라트커피          NaN
           cafe     search_name             road_address
2619  파도커피 여의도동  파도커피 롯데캐슬엠파이어점  서울 영등포구 의사당대로 127 지하 1층
2665  파도커피 여의도동      파도커피 태양빌딩점   서울 영등포구 여의대방로67길 22 1층
            cafe search_name               road_address
7337  커피랑파이랑 하계동  커피랑파이랑 1호점  서울 노원구 한글비석로 91 하계1차청구아파트
7350  커피랑파이랑 하계동  커피랑파이랑 1호점  서울 노원구 한글비석로 91 하계1차청구아파트
                   cafe    search_name         road_address
1466  이디야커피 신림남부초교점 신림동  이디야커피 신림남부초교점  서울 관악구 남부순환로 1541-1
6012  이디야커피 신림남부초교점 신림동  이디야커피 신림남부초교점  서울 관악구 남부순환로 1541-1
          cafe search_name             road_address
5941  카페루시 마곡동        카페루시  서울 강서구 공항대로 213 1층 112호
7010  카페루시 마곡동        카페루시  서울 강서구 공항대로 213 1층 112호
             cafe search_name road_address
973   커피셀러515 세곡동        커피셀러          NaN
6004  커피셀러515 세곡동        커피셀러          NaN
           cafe search_name road_address
1358  카페메이빈 장지동      카페 메이빈          NaN
1503  카페메이빈 장지동      카페 메이빈          NaN
           cafe search_name    road_address
472   구대회커피 신수동    구대회커피 본점  서울 마포구 창전로2길 9
6591  구대회커피 신수동    구대회커피 본점  서울 마포구 창전로2길 9
          cafe search_name                         road_address
420   휘드카페 공릉동    휘드카페 공릉점  서울 노원구 동일로198길 78 청교프라자 1층 휘드카페 공릉점
3225  휘드카페 공릉동    휘드카페 공릉점  서울 노원구 동일로198길 78 청교프라자 1층 휘드카페 공릉점
             cafe search_name    road_address
311   카페루이스 충정로3가  카페루이스 충정로점  서울 서대문구 충정로 45
5988  카페루이스 충정로3가  카페루이스 충정로점  서울 서대문구 충정로 45
                      cafe       search_name              road_address
1562  커피스미스 한림대강남성심병원점 대림동  커피스미스 한림대강남성심병원점  서울 영등포구 시흥대로 665 신관1동 1층
2047  커피스미스 한림대강남성심병원점 대림동  커피스미스 한림대강남성심병원점  서울 영등포구 시흥대로 665 신관1동 1층
                cafe  search_name road_address
575  이디야커피 신림미성점 신림동  이디야커피 신림미성점          NaN
836  이디야커피 신림미성점 신림동  이디야커피 신림미성점          NaN
          cafe search_name       road_address
318   카페산다 봉천동        카페산다  서울 관악구 낙성대로 22-13
7415  카페산다 봉천동        카페산다  서울 관악구 낙성대로 22-13
                  cafe  search_name   road_address
6409  이디야커피 동덕여대점 하월곡동  이디야커피 동덕여대점  서울 성북구 화랑로 99
7453  이디야커피 동덕여대점 하월곡동  이디야커피 동덕여대점  서울 성북구 화랑로 99
                   cafe    search_name              road_address
707   커피베이 온수힐스테이트점 온수동  커피베이 온수힐스테이트점  서울 구로구 부일로9길 137 온수힐스테이트
1373  커피베이 온수힐스테이트점 온수동  커피베이 온수힐스테이트점  서울 구로구 부일로9길 137 온수힐스테이트
                   cafe    search_name            road_address
1448  커피나무 어린이대공원역점 군자동  커피나무 어린이대공원역점  서울 광진구 광나루로19길 38 1,2층
1701  커피나무 어린이대공원역점 군자동  커피나무 어린이대공원역점  서울 광진구 광나루로19길 38 1,2층
          cafe search_name          road_address
1831  카페희다 반포동    카페희다 반포점  서울 서초구 주흥15길 16-4 1층
7420  카페희다 반포동    카페희다 반포점  서울 서초구 주흥15길 16-4 1층
           cafe search_name                 road_address
2438  슈가플래닛 방화동       슈가플래닛  서울 강서구 방화대로34길 102 1층 슈가플래닛
7137  슈가플래닛 방화동       슈가플래닛  서울 강서구 방화대로34길 102 1층 슈가플래닛
                       cafe      search_name             road_address
5914  투썸플레이스 신세계DF명동점 충무로1가  투썸플레이스 신세계DF명동점  서울 중구 퇴계로 77 11층 투썸플레이스
6414  투썸플레이스 신세계DF명동점 충무로1가  투썸플레이스 신세계DF명동점  서울 중구 퇴계로 77 11층 투썸플레이스
                        cafe     search_name   road_address
7570  투썸플레이스 금천롯데캐슬골드파크점 독산동  투썸 금천롯데캐슬골드파크점  서울 금천구 벚꽃로 40
7622  투썸플레이스 금천롯데캐슬골드파크점 독산동  투썸 금천롯데캐슬골드파크점  서울 금천구 벚꽃로 40
          cafe search_name       road_address
5195  커피버넷 봉천동        커피버넷  서울 관악구 봉천로 595 1층
6028  커피버넷 봉천동        커피버넷  서울 관악구 봉천로 595 1층
          cafe search_name          road_address
2928  카페큐릉 역삼동        카페큐릉  서울 강남구 테헤란로57길 21 1층
3581  카페큐릉 역삼동        카페큐릉  서울 강남구 테헤란로57길 21 1층
          cafe search_name           road_address
5454  커피집 신대방동         커피집  서울 동작구 대림로 55 1층 101호
6812  커피집 신대방동         커피집  서울 동작구 대림로 55 1층 101호
             cafe   search_name road_address
6874  숲속도서관카페 삼청동  삼청공원 숲속도서관카페          NaN
7799  숲속도서관카페 삼청동  삼청공원 숲속도서관카페          NaN
            cafe search_name road_address
265   카페긴고랑길 중곡동     카페 긴고랑길          NaN
5961  카페긴고랑길 중곡동     카페 긴고랑길          NaN
             cafe search_name      road_address
7140  Biensur 암사동         비앙슈  서울 강동구 고덕로27길 19
7185  Biensur 암사동         비앙슈  서울 강동구 고덕로27길 19
          cafe search_name               road_address
5969  코지블루 송파동        코지블루  서울 송파구 백제고분로45길 7 3층 302호
7044  코지블루 송파동        코지블루  서울 송파구 백제고분로45길 7 3층 302호
               cafe search_name                road_address
1493  이디야커피 목3동점 목동  이디야커피 목3동점  서울 양천구 목동중앙북로 38 롯데캐슬위너아파트
7954  이디야커피 목3동점 목동  이디야커피 목3동점  서울 양천구 목동중앙북로 38 롯데캐슬위너아파트
          cafe search_name         road_address
4640  유별커피 사당동        유별커피  서울 동작구 사당로13길 34 1F
5648  유별커피 사당동        유별커피  서울 동작구 사당로13길 34 1F
          cafe search_name      road_address
652   커피타임 방화동        커피타임  서울 강서구 방화동로 39-1
4462  커피타임 방화동        커피타임  서울 강서구 방화동로 39-1
             cafe search_name     road_address
7139  커피앤클라우드 역삼동     커피앤클라우드  서울 강남구 논현로75길 6
7164  커피앤클라우드 역삼동     커피앤클라우드  서울 강남구 논현로75길 6
                  cafe   search_name      road_address
3751  이디야커피 광산사거리점 수유동  이디야커피 광산사거리점  서울 강북구 노해로 91 1층
6049  이디야커피 광산사거리점 수유동  이디야커피 광산사거리점  서울 강북구 노해로 91 1층
                 cafe  search_name    road_address
1269  이디야커피 암사3동점 암사동  이디야커피 암사3동점  서울 강동구 고덕로 140
7777  이디야커피 암사3동점 암사동  이디야커피 암사3동점  서울 강동구 고덕로 140
           cafe search_name               road_address
7626  커피테크 하월곡동        커피테크  서울 성북구 동소문로44길 43 성북힐스테이트
7847  커피테크 하월곡동        커피테크  서울 성북구 동소문로44길 43 성북힐스테이트
           cafe search_name road_address
1378  라우터커피 연희동       라우터커피          NaN
5133  라우터커피 연희동       라우터커피          NaN
           cafe   search_name            road_address
4364  테이큰커피 화양동  TAKEN COFFEE  서울 광진구 능동로16길 51 테이큰커피
7325  테이큰커피 화양동  TAKEN COFFEE  서울 광진구 능동로16길 51 테이큰커피
           cafe search_name                   road_address
2520  더플롯커피 마곡동   더플롯커피 마곡점  서울 강서구 마곡중앙6로 45 리더스퀘어마곡 111호
6234  더플롯커피 마곡동   더플롯커피 마곡점  서울 강서구 마곡중앙6로 45 리더스퀘어마곡 111호
          cafe search_name   road_address
628   커피핑크 양재동  커피핑크 양재2호점  서울 서초구 언남길 87
7085  커피핑크 양재동  커피핑크 양재2호점  서울 서초구 언남길 87

In [ ]:
# 46 개 추가로 제거한다.
df = df.drop_duplicates(['cafe'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7960 entries, 0 to 8005
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              7960 non-null   object
 1   search_name       7960 non-null   object
 2   address           7960 non-null   object
 3   road_address      7142 non-null   object
 4   near_station      7142 non-null   object
 5   station_distance  7142 non-null   float64
 6   total_review      7960 non-null   int64
 7   "커피가 맛있어요"        7960 non-null   float64
 8   "친절해요"            7960 non-null   float64
 9   "음료가 맛있어요"        7960 non-null   float64
 10  "디저트가 맛있어요"       7960 non-null   float64
 11  "매장이 청결해요"        7960 non-null   float64
 12  "대화하기 좋아요"        7960 non-null   float64
 13  "집중하기 좋아요"        7960 non-null   float64
 14  "인테리어가 멋져요"       7960 non-null   float64
 15  "좌석이 편해요"         7960 non-null   float64
 16  "화장실이 깨끗해요"       7960 non-null   float64
 17  "특별한 메뉴가 있어요"     7960 non-null   float64
 18  "가성비가 좋아요"        7960 non-null   float64
 19  "뷰가 좋아요"          7960 non-null   float64
 20  "주차하기 편해요"        7960 non-null   float64
 21  "사진이 잘 나와요"       7960 non-null   float64
 22  cafe              7960 non-null   object
dtypes: float64(16), int64(1), object(6)
memory usage: 1.5+ MB

In [ ]:
df['cafe'].value_counts()[:45] # 이젠 다 제거되었음

버블베어 방화동                   1
에이쓰리커피집 신사동                1
공차구로디지털2호점 구로디지털2호점 구로동    1
REPUBLICOFCOFFEE 마곡동       1
스타벅스포스코사거리점 포스코사거리점 삼성동    1
밀랑스 대흥동                    1
페라 대현동                     1
카페빅컵 성산동                   1
공차 약수점 신당동                 1
스타벅스 대치대원빌딩R점 대치동          1
커피스트 신문로2가                 1
투썸플레이스충정로역점 충정로역점 충정로3가    1
커피정원 상계동                   1
아마스빈 버블티우장산역점 내발산동         1
스타일커피 삼성동                  1
튠업카페 이문동                   1
이디야커피 청구역점 신당동             1
더스키&커피 동숭동                 1
커피폴 구산동                    1
가나슈블랫 연남동                  1
2막 창성동                     1
이디야커피 용두동사거리점 용두동          1
크레센도 봉천동                   1
만돌다방 길동                    1
CREMADORO 우면동              1
카페오로시 자양동                  1
카페마리 북아현동                  1
이디야커피 신촌역점 창천동             1
더베스트커피 가양동                 1
작업실 소소한 망원동                1
카페902 돈암동                  1
이디야커피 오장동점 오장동             1
투썸플레이스연신내점 연신내점 갈현동        1
셀렉토커피동묘역점 동묘역점 숭인동         1
후아나 월계동                    1
볼라벤커피 한남동                  1
카페몽실 신림동                   1
이코복스 가로수길점 신사동             1
카페워너비 양평동4가                1
잉크커피 구로동                   1
카페오가닉 여의도동                 1
이디아신방화중앙점 방화중앙점 방화동        1
어투썸프레이스 상암동                1
프리아스 중구본점 신당동              1
꿈꾸는리틀피플 정릉동                1
Name: cafe, dtype: int64

## 소상공인 데이터셋의 카페명을 제거한 데이터셋

In [ ]:
## 데이터 분석 목적에 맞춰 crawling 한 결과만을 가지고 데이터셋을 만들어보았다. (추가 병합 과정 없을 예정하에)

# search_name과 'road_address'를 기준을 제거하면, 같은 결과로 크롤링된 데이터를 모두 제거할 수 있다.

df_s = df.drop_duplicates(['search_name', 'road_address'])
df_s.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7661 entries, 0 to 7959
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7661 non-null   int64
 1   name              7661 non-null   object
 2   search_name       7661 non-null   object
 3   address           7661 non-null   object
 4   road_address      6877 non-null   object
 5   near_station      6877 non-null   object
 6   station_distance  6877 non-null   float64
 7   total_review      7661 non-null   int64
 8   "커피가 맛있어요"        7661 non-null   float64
 9   "친절해요"            7661 non-null   float64
 10  "음료가 맛있어요"        7661 non-null   float64
 11  "디저트가 맛있어요"       7661 non-null   float64
 12  "매장이 청결해요"        7661 non-null   float64
 13  "대화하기 좋아요"        7661 non-null   float64
 14  "집중하기 좋아요"        7661 non-null   float64
 15  "인테리어가 멋져요"       7661 non-null   float64
 16  "좌석이 편해요"         7661 non-null   float64
 17  "화장실이 깨끗해요"       7661 non-null   float64
 18  "특별한 메뉴가 있어요"     7661 non-null   float64
 19  "가성비가 좋아요"        7661 non-null   float64
 20  "뷰가 좋아요"          7661 non-null   float64
 21  "주차하기 편해요"        7661 non-null   float64
 22  "사진이 잘 나와요"       7661 non-null   float64
 23  cafe              7661 non-null   object
dtypes: float64(16), int64(2), object(6)
memory usage: 1.5+ MB

In [ ]:
# df_s 의 경우에는 크롤링된 정보만을 사용할 것이기에 name이나 그런 행들을 전부 제거하려 한다.

df_s = df_s.drop(['Unnamed: 0', 'name', 'cafe', ], axis=1)

In [ ]:
# 깔끔하게 행이 제거된 것을 확인할 수 있다.
df_s.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7661 entries, 0 to 7959
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   search_name       7661 non-null   object
 1   address           7661 non-null   object
 2   road_address      6877 non-null   object
 3   near_station      6877 non-null   object
 4   station_distance  6877 non-null   float64
 5   total_review      7661 non-null   int64
 6   "커피가 맛있어요"        7661 non-null   float64
 7   "친절해요"            7661 non-null   float64
 8   "음료가 맛있어요"        7661 non-null   float64
 9   "디저트가 맛있어요"       7661 non-null   float64
 10  "매장이 청결해요"        7661 non-null   float64
 11  "대화하기 좋아요"        7661 non-null   float64
 12  "집중하기 좋아요"        7661 non-null   float64
 13  "인테리어가 멋져요"       7661 non-null   float64
 14  "좌석이 편해요"         7661 non-null   float64
 15  "화장실이 깨끗해요"       7661 non-null   float64
 16  "특별한 메뉴가 있어요"     7661 non-null   float64
 17  "가성비가 좋아요"        7661 non-null   float64
 18  "뷰가 좋아요"          7661 non-null   float64
 19  "주차하기 편해요"        7661 non-null   float64
 20  "사진이 잘 나와요"       7661 non-null   float64
dtypes: float64(16), int64(1), object(4)
memory usage: 1.3+ MB